
.status_paid {
    color: #50cd89;
    background-color: #e8fff3
}

.status_refunded {
    background-color: #700370;
    color: #835783; 
}

.status_pending_refund {
    background-color: #ff00ff;
    color: #ffd0ff; 
}

.status_chargedback {
    background-color: #b900b9;
    color: #e7c0e7; 
}


.status_refused {
    background-color: #ff8c00;
    color: #f8cf9e; 
}
.status_unpaid {
    color: #f1416c;
    background-color: #fff5f8

}
.status_waiting_payment {
    color: #bdc917;
    background-color: #f9fcd6
}

.status_pending {
    color: #797a0c;
    background-color: #c7caa0
}
 
.status_processing {
    color: #f2f898;
    background-color: #f8fae3
}

.status_authorized {
    color: #0400ff;
    background-color: #685ef8
}


.tipo_UNICO {
    color: #f1416c;
    background-color: #fff5f8 
}
.tipo_RECORRENTE {
    color: #50cd89;
    background-color: #e8fff3

}

