@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");
* {
    box-sizing: border-box;
    outline: none
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Montserrat", sans-serif
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    padding-bottom: 12px
}

.l-login {
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    grid-template-rows: 1fr 60px;
    text-align: center
}

.b-login {
    display: block;
    background-color: #FFFE;
    backdrop-filter: blur(3px);
    width: 400px;
    padding: 30px;
    border-radius: 8px;
    max-width: 80vw;
    box-shadow: 3px 3px 3px #0003
}

.b-login img {
    display: block;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 20px
}

.form textarea, .form select, .form input:not([type=checkbox]) {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #777;
    line-height: 40px;
    margin-bottom: 20px;
    text-indent: 26px;
    color: #0094E8;
    font-size: 12px;
    font-weight: 700;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 7px center
}

.form textarea:focus, .form select:focus, .form input:not([type=checkbox]):focus {
    border-bottom: 2px solid #0094E8
}

.form textarea[type="email"], .form select[type="email"], .form input:not([type=checkbox])[type="email"] {
    background-image: url(../icon/user.svg);
    text-indent: 30px;
}

.form textarea[type="password"], .form select[type="password"], .form input:not([type=checkbox])[type="password"] {
    background-image: url(../icon/key.svg)
}

.form textarea[type="color"], .form select[type="color"], .form input:not([type=checkbox])[type="color"] {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0;
    margin-right: 12px
}

.form textarea[type="radio"], .form select[type="radio"], .form input:not([type=checkbox])[type="radio"] {
    width: 30px;
    display: inline-block
}

.form label {
    display: block
}

.form textarea {
    background-color: #EEE;
    border-radius: 4px;
    margin-top: 5px;
    text-indent: 0px;
    padding: 18px;
    line-height: 25px
}

.form select {
    color: #333;
    padding-left: 0;
    text-indent: 12px;
    height: 40px;
    border-left: 1px solid #FFF;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    margin-top: 4px
}

.btn {
    display: block;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid #777;
    color: #777;
    border-radius: 4px;
    line-height: 40px;
    width: 100%
}

.btn:hover {
    filter: brightness(1.1)
}

.btn--success {
    border: 2px solid #0094E8;
    background-color: #0094E8;
    color: #FFF;
    text-shadow: 1px 2px 0px #0003
}

.link {
    display: inline-block;
    text-decoration: none;
    color: #0094E8
}

.link:hover {
    text-decoration: underline
}

.link--login {
    display: block;
    margin-top: 20px
}

.i-monei {
    background-image: url(../form-icon/money.svg)
}

.editor {
    display: grid;
    gap: 15px;
    padding: 17px;
    background-color: #EEE;
    border-radius: 4px;
    margin-bottom: 20px
}

.editor>span {
    display: flex
}

.editor>span>img {
    display: inline-block;
    width: 34px;
    height: 34px;
    padding: 11px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    margin-right: 12px;
    cursor: pointer
}

.editor>span>img:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.editor>div {
    background-color: #FFF;
    display: block;
    border-radius: 4px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 20px;
    min-height: 150px
}

.error {
    display: block;
    line-height: 30px;
    background-color: #c0392b;
    color: #f1c40f;
    margin-top: 12px;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px
}

.success {
    display: block;
    line-height: 30px;
    background-color: #2ecc71;
    color: #FFF;
    margin-top: 12px;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px
}

.plus {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #2ecc71;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1)
}

.plus:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #26a85c
}

.plus img {
    width: 40px;
    padding: 12px;
    filter: invert(100);
    height: 40px;
    pointer-events: none
}

.title_form {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.note {
    display: block;
    padding: 24px;
    background-color: #ecf0f1;
    color: #666e6e;
    border-radius: 5px;
    margin-bottom: 20px
}

.note h5 {
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    padding: 0
}

.note p {
    padding: 0
}

.input-note {
    border: none !important;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1)
}

.subdomain {
    display: grid;
    grid-template-columns: 1fr 150px;
    align-items: center;
    padding-right: 12px;
    font-size: 16px
}

.subdomain input {
    background-color: transparent;
    margin-bottom: 0px !important;
    text-align: right;
    font-size: 16px !important
}

.loading {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    background-image: url(../img/carregando.gif);
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px
}

.resumo {
    display: grid;
    background-color: #FFF;
    padding: 12px;
    border-radius: 10px;
    grid-template-columns: 50px 1fr 40px;
    gap: 20px;
    align-items: center;
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.1)
}

.resumo>div {
    border-radius: 10px;
    background-color: #2980b9
}

.resumo img {
    display: block;
    width: 50px;
    height: 50px;
    padding: 12px;
    filter: invert(100)
}

.resumo small {
    display: block;
    color: #2e2e2e;
    font-size: 18px;
}

.resumo b {
    color: #2d3436;
    font-weight: 200;
    font-size: 28px
}

.padding-20 {
    padding: 30px
}

.button-export {
    display: block;
    width: 250px;
    margin: 0 auto;
    background: linear-gradient(#0094E8, #0984e3);
    font-weight: 900;
    font-size: 18px;
    padding: 15px 0;
    border-radius: 8px;
    border: none;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    text-decoration: none
}
.button-export-danger {
    background: linear-gradient(#C00, #800);
}

.paginacao {
    display: block;
    padding: 20px;
    text-align: center
}

.paginacao a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    color: #777;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #FFF
}

.paginacao a:hover {
    background-color: #0094E8;
    color: #FFF
}

.btn_inativo, .btn_ativo {
    display: inline-block;
    padding: 7px 14px;
    border-radius: 4px;
    color: #FFF;
    background-color: #0094E8;
    pointer-events: none
}

.btn_inativo {
    background-color: #e74c3c
}

.w25 {
    display: inline-block;
    width: 25%
}

.w-50 {
    display: inline-block;
    width: 50%
}

.w-40 {
    display: inline-block;
    width: 30px;
    margin-left: 10px
}

.botao-criar {
    display: inline-block;
    color: #0094E8;
    border: 2px solid #0094E8;
    font-weight: 700;
    border-radius: 5px;
    padding: 0 14px;
    line-height: 30px;
    cursor: pointer
}

.botao-criar:hover {
    background-color: #0094E8;
    color: #DDD
}

[disabled] {
    background-color: #EEE;
    border: 1px solid #C00 !important;
    border-radius: 5px;
    cursor: not-allowed
}

button[disabled] {
    border: none !important;
    background-color: #555
}

.busca-box {
    display: grid;
    grid-template-columns: 1fr 35px;
    align-items: center;
    background-color: #EEE;
    padding: 7px;
    border-radius: 3px
}

.busca-box img {
    max-width: 100%;
    padding: 8px
}

.busca-box input {
    display: block;
    line-height: 35px;
    background-color: transparent;
    text-indent: 12px;
    border: none
}

.busca-box button {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #DDD;
    cursor: pointer;
    border: 1px solid #CCC;
    border-radius: 5px
}

.busca-box button:hover {
    background-color: #BBB
}

[hidden] {
    display: none !important
}

@media (max-width: 580px) {
    .s-hidem {
        display: none !important
    }
}

.open .l-admin {
    grid-template-columns: 50px 1fr
}

.open .aside__link span {
    display: none
}

.l-admin {
    display: grid;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    grid-template-areas: "header header" "aside body" "aside footer";
    grid-template-columns: 21% 1fr;
    grid-template-rows: 60px 1fr 50px;
    background-color: #ecf0f1
}

@media (max-width: 761px) {
    .l-admin {
        grid-template-columns: 50px 1fr
    }
}

.a-aside {
    grid-area: aside;
    background-image: linear-gradient(45deg , blue, #1679bd);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3)
}

.a-aside img {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 13px
}

.a-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 60px 120px 1fr 60px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    max-width: 100vw;
    box-sizing: border-box;
}

.a-header img {
    display: inline-block;
    height: 60px;
    padding: 18px;
    cursor: pointer
}

.a-header select {
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #FFF;
    font-size: 18px;
    color: #2c3e50;
    height: 58px;
    text-align-last: center
}

.a-body {
    grid-area: body;
    display: block;
    max-width: 100vw;
}

.a-footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center
}

.aside__link {
    color: #FFF;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-left: 3px solid transparent;
    transition: all .3s ease-in-out
}

.aside__link:hover {
    border-left: 3px solid #F40C0C;
    background-color: rgba(0, 0, 0, 0.1)
}

.aside__link img {
    filter: invert(100)
}

@media (max-width: 761px) {
    .aside__link span {
        display: none
    }
}

.aside__link--gravatar img {
    padding: 0;
    filter: none;
    border-radius: 50px;
    border: 2px solid #EEE;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    width: 20px;
    height: 20px;
    margin: 10px
}

.body_box {
    display: block;
    background-color: #FFF;
    margin: 30px;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1)
}

.body_box--transparent {
    background-color: transparent;
    box-shadow: none
}

.space {
    display: block;
    height: 30px
}

.modulo {
    display: block;
    background-color: #FFF;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1)
}

.modulo>img {
    display: block;
    height: 40px;
    margin: 0 auto
}

.modulo>span {
    border-top: 1px solid #EEE;
    display: flex;
    width: 100%;
    margin-top: 15px;
    justify-content: flex-end
}

.modulo>span>a>img {
    width: 40px;
    height: 40px;
    padding: 10px;
    filter: opacity(0.3)
}

.gravatar {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 40px
}

.table>div {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DDD;
    min-height: 50px;
    padding: 12px;
    justify-content: space-between
}

.table>div:nth-child(2n+1) {
    background-color: #EEE
}

.table>div>span {
    margin-right: 15px
}

.table_btn {
    display: flex;
    align-items: center;
    background-color: #0094E8;
    color: #FFF;
    font-weight: lighter;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer
}

.table_btn>span {
    display: block;
    margin-right: 12px
}

.table_btn img {
    display: block;
    height: 30px;
    padding: 8px;
    filter: invert(100)
}

.table_btn--trash {
    background-color: red
}

.table_btn--edit {
    background-color: #2ecc71
}

.table_btn--edit:hover {
    background-color: #27ae60
}

.ico_status {
    display: block;
    width: 30px;
    padding: 3px
}

.tag {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
    border-radius: 20px;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.1);
    font-size: 11px;
    pointer-events: none
}

.table_btn_status {
    color: #0094E8;
    border: 2px solid #0094E8;
    background-color: transparent;
    font-weight: 700;
    padding: 7px 14px;
    pointer-events: none
}

.box-relatorio {
    display: block;
    background-color: #FFF;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05);
    border-radius: 5px
}

.box-relatorio>label {
    color: #999;
    font-size: 12px;
    display: block;
    border-bottom: 1px solid #DDD;
    padding-bottom: 12px;
    margin-bottom: 20px
}

.historico {
    display: grid;
    background: linear-gradient(#CCC, #CCC);
    background-size: 3px 100%;
    background-repeat: no-repeat;
    background-position: 5px center
}

.historico span {
    display: block;
    padding-left: 30px;
    margin-bottom: 15px;
    background: linear-gradient(#05F, #05f);
    background-size: 12px 12px !important;
    background-position: left center !important;
    background-repeat: no-repeat !important
}
.historico a {
    text-decoration: none;
    color: #222;
}
.historico a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.admins-gravatar {
    display: flex;
    align-items: center;
    padding: 22px;
    background-color: #EEE;
    border-radius: 5px;
    border: 1px solid #DDD;
    margin-bottom: 20px
}

.gravatar-item {
    display: block;
    position: relative;
    margin-right: 20px;
    width: 7%
}

.gravatar-item img {
    display: block;
    width: 100%;
    border-radius: 100px
}

.gravatar-item span {
    display: flex;
    background-color: #C00;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    color: #FFF;
    border-radius: 50px;
    font-weight: bolder;
    font-family: monospace;
    font-size: 10px;
    border: 3px solid #EEE;
    cursor: pointer
}

.gravatar-item span:hover {
    background-color: #800
}

.grid-search {
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 20px
}

.grid-search img {
    width: 40px;
    height: 40px;
    padding: 12px;
    background-color: #DDD;
    border-radius: 5px;
    cursor: pointer
}

.grid-search img:hover {
    background-color: #CCC
}

.filtros {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.filtros select, .filtros input {
    display: block;
    border: 1px solid #DDD;
    background-color: #EEE;
    border-radius: 4px;
    line-height: 30px;
    min-height: 30px;
    text-indent: 7px;
    width: 100%
}

.filtros a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #EEE;
    padding: 0;
    margin: 0;
    border: none;
    background: linear-gradient(#0094E8, #0984e3);
    border-radius: 4px;
    cursor: pointer
}

input:checked~.toogle {
    background-color: #30B810
}

input:checked~.toogle i {
    margin-left: 29px;
    background-color: #EEE
}

input:checked~.toogle i::before {
    display: block;
    content: 'ON';
    color: #30B810
}

.toogle {
    display: block;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    background-color: #DDD;
    padding: 3px;
    cursor: pointer;
    transition: all .3s ease-in-out
}

.toogle i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-family: monospace;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    background-color: #CCC;
    transition: all .3s ease-in-out
}

.toogle i::before {
    display: block;
    content: 'OFF';
    color: #333
}

.g {
    display: grid;
    box-sizing: border-box;
    max-width: 100vw;
    gap: 20px;
}

.g-1 {
    grid-template-columns: repeat(1, 1fr)
}

.g-2 {
    grid-template-columns: repeat(2, 1fr)
}

.g-3 {
    grid-template-columns: repeat(3, 1fr)
}

.g-4 {
    grid-template-columns: repeat(4, 1fr)
}

.g-5 {
    grid-template-columns: repeat(5, 1fr)
}

.g-6 {
    grid-template-columns: repeat(6, 1fr)
}

.g-7 {
    grid-template-columns: repeat(7, 1fr)
}

.g-8 {
    grid-template-columns: repeat(8, 1fr)
}

.g-9 {
    grid-template-columns: repeat(9, 1fr)
}

.g-10 {
    grid-template-columns: repeat(10, 1fr)
}

.g-11 {
    grid-template-columns: repeat(11, 1fr)
}

.g-12 {
    grid-template-columns: repeat(12, 1fr)
}

.g-13 {
    grid-template-columns: repeat(13, 1fr)
}

.g-14 {
    grid-template-columns: repeat(14, 1fr)
}

.g-15 {
    grid-template-columns: repeat(15, 1fr)
}

.g-16 {
    grid-template-columns: repeat(16, 1fr)
}

.g-17 {
    grid-template-columns: repeat(17, 1fr)
}

.g-18 {
    grid-template-columns: repeat(18, 1fr)
}

.g-19 {
    grid-template-columns: repeat(19, 1fr)
}

.g-20 {
    grid-template-columns: repeat(20, 1fr)
}

.g-21 {
    grid-template-columns: repeat(21, 1fr)
}

.g-22 {
    grid-template-columns: repeat(22, 1fr)
}

.g-23 {
    grid-template-columns: repeat(23, 1fr)
}

@media (max-width: 800px) {
    .s-g-1 { grid-template-columns: repeat(1, 1fr); }
    .s-g-2 { grid-template-columns: repeat(2, 1fr); }
    .s-g-3 { grid-template-columns: repeat(3, 1fr); }
    .s-g-4 { grid-template-columns: repeat(4, 1fr); }
}
@media (max-width: 500px) {
    .x-g-1 { grid-template-columns: repeat(1, 1fr); }
    .x-g-2 { grid-template-columns: repeat(2, 1fr); }
    .x-g-3 { grid-template-columns: repeat(3, 1fr); }
    .x-g-4 { grid-template-columns: repeat(4, 1fr); }
}

.popupo-bg {
    display: flex;
    width: 100vw ;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

.popupo-bg>div {
    display: block;
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    max-width: 70vw;
    position: relative
}

.pop-close {
    display: flex;
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #C00;
    color: #FFF;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 11px;
    cursor: pointer;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1)
}

.popupo-bg input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 0 15px;
    margin: 0;
    margin-bottom: 15px
}

.iten-lista-pop {
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    border-bottom: 1px solid #CCC
}

.iten-lista-pop img {
    display: block;
    width: 40px;
    height: 40px;
    padding: 12px;
    filter: opacity(0.5);
    cursor: pointer
}

.iten-lista-pop img:hover {
    filter: opacity(0.7)
}

.pop-center {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 12px
}

.all-step {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 11px;
    background: linear-gradient(#999, #999);
    background-repeat: no-repeat;
    background-size: 90% 2px;
    background-position: center 14px
}

.all-step img {
    display: block;
    width: 28px;
    height: 28px;
    padding: 7px;
    background-color: #fdd507;
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #999;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3)
}

.all-step .active img {
    background-color: #00d06c
}

.step-grid {
    display: grid;
    grid-template-columns: 25% 1fr;
    margin-bottom: 30px;
    align-items: center;
    border: 1px solid #CCC;
    border-radius: 5px;
    overflow: hidden;
    gap: 20px
}

.step-grid img {
    display: block;
    width: 65%;
    padding: 20px
}

.step-grid a {
    background-color: #72c847;
    display: inline-block;
    padding: 10px 18px;
    border-radius: 5px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3)
}

.step-grid p {
    color: #999
}

.step-grid h2 {
    margin: 0;
    padding: 0;
    font-size: 45px;
    font-weight: 300
}

.corte {
    display: block;
    position: relative
}

.item-corte {
    display: block;
    right: -3px;
    top: -25px;
    position: absolute;
    z-index: 99;
    background-color: transparent !important;
    width: 100% !important;
    padding: 0 !important
}
.not-show {
    display: block;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    margin: 0;
}

.responsive-graph {
    display: block;
    width: 100% !important;
    max-width: 80vw !important;
    height: 400px !important;
}

.status_paid {
    border: 2px solid #006400;
    color: #006400;
}
.status_refused {
    border: 2px solid #DC143C;
    color: #DC143C; 
}
.status_unpaid {
    border: 2px solid #DC1430;
    color: #DC1430; 

}
.status_waiting_payment {
    border: 2px solid #808080;
    color: #808080; 
}

