span .menu  {
    position: relative;
    overflow-y: auto;
    width: 15px;
    filter: invert(100);
}


.menu-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 20px;
    color: #FFF;
}

.modulos{
    max-width:180px;
    margin-left: auto;
    margin-right: auto;
    /* width: 6em */
    
}

.modulo-img{
    max-width:180px;
}


.div-modulo{
    height:32px;
}

.all-step {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 11px;
    background: linear-gradient(#999, #999);
    background-repeat: no-repeat;
    background-size: 90% 2px;
    background-position: center 14px
}




.step-grid {
    display: grid;
    grid-template-columns: 25% 1fr;
    margin-bottom: 10px;
    align-items: center;
    border: 1px solid #CCC;
    border-radius: 5px;
    overflow: hidden;
    gap: 20px
}

.step-grid img {
    display: block;
    width: 65%;
    padding: 20px
}


.step-grid p {
    color: #999
}


.corte {
    display: block;
    position: relative
}

.item-corte {
    display: block;
    right: -3px;
    top: -25px;
    position: absolute;
    z-index: 99;
    background-color: transparent !important;
    width: 100% !important;
    padding: 0 !important
}

.xxbtn { 
    width: 200px !important;
}

.invisivel{  
    display: none;
    color: #181c32;  
    border: 0;
    background-color: transparent;
    outline: 0!important;
    box-shadow: none;
    border-radius: 0
}

 
  .hov {
    filter: hue-rotate(90deg); 
  }

  .bg-light-Boleto {
    background-color: #d8f8fd!important;
}

.bg-light-credito {
    background-color: #ffbfe4!important;
}
 
.bg-light-pix {
    background-color: #bfebe7!important;
}
.bg-light-adimple {
    background-color: #e9fddd!important;
}

.bg-visual {
    border-width: medium;
  border-style: groove;
  border-color: rgb(145, 180, 255);
  background-color: #ffffff!important;
    padding: 1.5rem 1rem 1.5rem 1.20rem;
    
    
}


.selectpagina { 
    padding: 0.5rem 1rem 0.5rem 0.20rem;
    -moz-padding-start: calc(1rem - 3px);
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #f0f1f5;
    background-color: #414141;
    background-repeat: no-repeat; 
    background-size: 16px 12px;
    border: 1px solid #E4E6EF;
    border-radius: 0.475rem;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

  #mapas {
    width: 100%;
    height: 500px;
  }

  #chartdiv,#usuario{
    width: 100%;
    height: 400px;
  }
  #quantidade, #faturamentos, #statusDoacao , #tipoDoador , #statusDoador, #statusAssinturas, #formaPagamento  {
  width: 100%;
  height: 250px;
}

 #cidade, #midia, #despositivoY, #despositivoX,  #navegador, #dispositivo , #idadeX , #idadeY, #sexoX , #sexoY { 
   width: 100%;
    height: 350px;
  }

 
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.342);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
  }
  
  .meu_modal {
    position: relative;
    top: 10%;
    left: 30%;

    right: 20%;
    margin: 1rem;
    width: 100%;
    max-width: 600px;
    height: auto;
    min-height: 300px;
    background-color: white;
    border-radius: 11px;
    display: none;
    flex-direction: column;
    overflow: hidden;
    -webkit-animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  @media only screen and (max-width: 600px) {
    .meu_modal {
      height: 50%;
      width: 100vw;
  
    }
  }
  
  @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }