span .menu  {
    position: relative;
    overflow-y: auto;
    width: 15px;
    filter: invert(100);
}


.menu-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 20px;
    color: #FFF;
}

.modulos{
    max-width:180px;
    margin-left: auto;
    margin-right: auto;
    /* width: 6em */
    
}

.modulo-img{
    max-width:180px;
}


.div-modulo{
    height:32px;
}

.all-step {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 11px;
    background: linear-gradient(#999, #999);
    background-repeat: no-repeat;
    background-size: 90% 2px;
    background-position: center 14px
}




.step-grid {
    display: grid;
    grid-template-columns: 25% 1fr;
    margin-bottom: 10px;
    align-items: center;
    border: 1px solid #CCC;
    border-radius: 5px;
    overflow: hidden;
    gap: 20px
}

.step-grid img {
    display: block;
    width: 65%;
    padding: 20px
}


.step-grid p {
    color: #999
}


.corte {
    display: block;
    position: relative
}

.item-corte {
    display: block;
    right: -3px;
    top: -25px;
    position: absolute;
    z-index: 99;
    background-color: transparent !important;
    width: 100% !important;
    padding: 0 !important
}

.xxbtn { 
    width: 200px !important;
}

.invisivel{  
    display: none;
    color: #181c32;  
    border: 0;
    background-color: transparent;
    outline: 0!important;
    box-shadow: none;
    border-radius: 0
}