span .menu  {
    position: relative;
    overflow-y: auto;
    width: 15px;
    filter: invert(100);
}


.menu-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 20px;
    color: #FFF;
}