<div>
	    
	<c-header></c-header>
	<c-aside></c-aside>
    
    <div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">

        <!--begin::Wrapper-->
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">


            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Post-->
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <!--begin::Container-->
                    <div id="kt_content_container" class="container-xxl">

                        <!--begin::Sign-in Method-->
                        <div class="card mb-5 mb-xl-10">
                            <!--begin::Card header-->
                            <div class="card-header border-0 cursor-pointer" role="button"
                                data-bs-toggle="collapse" data-bs-target="#kt_account_signin_method">
                                <div class="card-title m-0">
                                    <h3 class="fw-bolder m-0">Editar Usuário</h3>
                                </div>
                            </div> 
                            <div id="kt_account_signin_method">
                                <!--begin::Card body-->
                                <div class="card-body border-top p-9">
                                    <!--begin::Email Address-->

                                    <!--begin::Password-->
                                    <div class="d-flex flex-wrap align-items-center mb-10">

                                        <!--end::Label-->
                                        <!--begin::Edit-->
                                        <!-- <div id="kt_signin_password_edit" class="flex-row-fluid d-none"> -->
                                        <div id="kt_signin_password_edit" class="flex-row-fluid ">
                                            <!--begin::Form-->
                                            <form id="kt_signin_change_password" class="form" >
                                                <div class="row mb-1">


                                                <div class="col-lg-6">
                                                <div class="fv-row mb-5">
                                                    <label for="secret"
                                                        class="form-label fs-6 fw-bolder mb-3">secret</label>
                                                    <input type="text" v-model="secret" 
                                                        class="form-control form-control-lg form-control-solid"
                                                        name="secret" id="secret" />
                                                </div>
                                            </div>


                                                    <div class="col-lg-6">
                                                        <div class="fv-row mb-5">
                                                            <label for="nome"
                                                                class="form-label fs-6 fw-bolder mb-3">Nome</label>
                                                            <input type="text" v-model="nome" 
                                                                class="form-control form-control-lg form-control-solid"
                                                                name="nome" id="nome" />
                                                        </div>
                                                    </div>
                                                

                                                    <div class="col-lg-6">
                                                        <div class="fv-row mb-5">
                                                            <label for="Telefone"
                                                                class="form-label fs-6 fw-bolder mb-3">Telefone</label>
                                                            <input type="text" v-model="telefone"  v-mask="'(##) #####-####'" placeholder="(41) 99999-9999"
                                                                class="form-control form-control-lg form-control-solid"
                                                                name="Telefone" id="Telefone" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="fv-row mb-5">
                                                            <label for="Credencial"
                                                                class="form-label fs-6 fw-bolder mb-3 ">Credencial</label>
                                                            <select v-model="credencial_id" class="form-select form-control form-control-lg form-control-solid"
                                                                aria-label="Default select example">
                                                                <option selected>Qual a sua Credencial</option>
                                                                <option v-for="dado in lista_dados" :key="dado.id" :value="dado.id" >{{dado.nome_identificacao}}</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
        
                                                </div>

                                                <div v-if="jms===true"> 
                                                    <c-mensagem :msg="msg" ></c-mensagem>
                                                  </div>
                                                  <div v-else> 
                                                    <c-mensagem :error="error" ></c-mensagem>
                                                  </div>

                                                <div class="d-flex">
                                                        <button @click="editarUsuario()" id="kt_password_submit" type="button"
                                                        class="btn btn-success me-2 px-6">Alterar</button>
                                                        
                                                    <button id="kt_password_cancel" type="button"
                                                        class="btn btn-color-gray-400 btn-active-light-primary px-6">Cancelar</button>
                                                </div>
                                            </form>
                                            <!--end::Form-->
                                        </div>
                                        <!--end::Edit-->

                                    </div>
                                    <!--end::Password-->

                                </div>
                                <!--end::Card body-->
                            </div>
                            <!--end::Content-->
                        </div>
                        <!--end::Sign-in Method-->


                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Post-->
            </div>
            <!--end::Content-->

        </div>
    </div>
</div>
</div >

