<div>
	<div>

		<c-header></c-header>
		<c-aside></c-aside>

		<div class="d-flex flex-column flex-root">

			<div class="page d-flex flex-row flex-column-fluid">

				<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">

					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

						<div class="post d-flex flex-column-fluid" id="kt_post">

							<div id="kt_content_container" class="container-xxl">

								<!--pesquisa-->


								<div class="card mb-5 mb-lg-10">

									<div class="card-header">

										<div class="card-title">
											<div class=" m-5">
												Relatório de Doações
											</div>

										</div>
										<div class="card-toolbar">
											<div class="my-1 me-2">
												<div
													class="d-flex align-items-center position-relative my-1">
													<select class="form-select form-select-solid" placeholder="13/12/2020">
														<option></option>
														<option value="1">Option 1</option>
														<option value="2">Option 2</option>
													</select>

												    </div>
											</div>
											<a href="#" class="btn btn-sm btn-primary my-1">Aplicar</a>
										</div>
									</div>

								</div>


								<div class="row g-5 g-xl-8 mb-5 mb-xl-15">
									<div class="col-xl-12">
										<div class="rounded p-1 mb-2" style="background-color: #ffffff;">
											<div class="row g-xl-8 mb-5">

												<div class="col-xl-6">
													<div class="d-flex align-items-center text-center rounded p-1 mb-2">
														<div class="flex-grow-1 me-2">
															<div id="chartdiv"></div>
														</div>
													</div>
												</div>

												<div class="col-xl-6">
													<div class="row">

														<div class="col-xl-6 p-4">
															<div
																class="d-flex align-items-center text-center bg-visual rounded">
																<div class="flex-grow-1 me-2">
																	<span
																		class="text-muted fw-bold d-block">Visualizações
																		de página</span>
																	<a
																		class="fw-bolder text-gray-800 text-hover-cyan fs-4">
																		23.423</a>
																</div>
															</div>
														</div>

														<div class="col-xl-6 p-4">
															<div
																class="d-flex align-items-center text-center bg-visual rounded">
																<div class="flex-grow-1 me-2">
																	<span
																		class="text-muted fw-bold d-block">Percentuais</span>
																	<a
																		class="fw-bolder text-gray-800 text-hover-cyan fs-4">
																		100</a>
																</div>
															</div>
														</div>

														<div class="col-xl-6 p-4">
															<div
																class="d-flex align-items-center text-center bg-visual rounded">
																<div class="flex-grow-1 me-2">
																	<span
																		class="text-muted fw-bold d-block">Visualizações
																		de página</span>
																	<a
																		class="fw-bolder text-gray-800 text-hover-cyan fs-4">
																		Não hã dados</a>
																</div>
															</div>
														</div>

														<div class="col-xl-6 p-4">
															<div
																class="d-flex align-items-center text-center bg-visual rounded">
																<div class="flex-grow-1 me-2">
																	<span
																		class="text-muted fw-bold d-block">Percentuais</span>
																	<a
																		class="fw-bolder text-gray-800 text-hover-cyan fs-4">
																		0</a>
																</div>
															</div>
														</div>
														<div class="col-xl-6 p-4">
															<div
																class="d-flex align-items-center text-center bg-visual rounded">
																<div class="flex-grow-1 me-2">
																	<span
																		class="text-muted fw-bold d-block">Visualizações
																		de página</span>
																	<a
																		class="fw-bolder text-gray-800 text-hover-cyan fs-4">
																		Não hã dados</a>
																</div>
															</div>
														</div>

														<div class="col-xl-6 p-4">
															<div
																class="d-flex align-items-center text-center bg-visual rounded">
																<div class="flex-grow-1 me-2">
																	<span
																		class="text-muted fw-bold d-block">Percentuais</span>
																	<a
																		class="fw-bolder text-gray-800 text-hover-cyan fs-4">
																		0</a>
																</div>
															</div>
														</div>


													</div>
												</div>
											</div>
										</div>
									</div>

 
									<div class="row">
										<div class="col-xl-2 p-4">
											<div class="d-flex align-items-center text-center bg-visual rounded">
												<div class="flex-grow-1 me-2">
													<span class="text-muted fw-bold d-block">Novos usuários
													</span>
													<a class="fw-bolder text-gray-800 text-hover-cyan fs-4">
														9.257</a>
												</div>
											</div>
										</div>

										<div class="col-xl-2 p-4">
											<div class="d-flex align-items-center text-center bg-visual rounded">
												<div class="flex-grow-1 me-2">
													<span class="text-muted fw-bold d-block">Recorrente
													</span>
													<a class="fw-bolder text-gray-800 text-hover-cyan fs-4">
														497</a>
												</div>
											</div>
										</div>

										<div class="col-xl-2 p-4">
											<div class="d-flex align-items-center text-center bg-visual rounded">
												<div class="flex-grow-1 me-2">
													<span class="text-muted fw-bold d-block">usuários</span>
													<a class="fw-bolder text-gray-800 text-hover-cyan fs-4">
														9.754</a>
												</div>
											</div>
										</div>

										<div class="col-xl-6 p-4">
											<div class="d-flex align-items-center text-center bg-visual rounded">
												<div class="flex-grow-1 me-2">
													<span class="text-muted fw-bold d-block">Valor total</span>
													<a class="fw-bolder text-gray-800 text-hover-cyan fs-4">
														Não há dados </a>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-12">
										<div class="rounded  p-1 mb-2" style="background-color: #ffffff;">
											<div class="row g-xl-8 mb-5">
												<div class="col-xl-6">
													<div class="text-center p-5"> 
															<div class="table-responsive">
																<table
																	class="table table-row-dashed table-row-gray-300 gy-7">
																	<thead>
																		<tr class="fw-bolder fs-6 text-gray-800">
																			<th></th>
																			<th>Pais</th>
																			<th>Visualizações d…</th>
																			<th>Transações</th>
																			<th>Receita</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>1</td>
																			<td>Brasil</td>
																			<td>23.058</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																		<tr>
																			<td>2</td>
																			<td>United States </td>
																			<td>188</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																		<tr>
																			<td>3</td>
																			<td>Hungary</td>
																			<td>58</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																		<tr>
																			<td>4</td>
																			<td>France</td>
																			<td>108</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>

																		<tr>
																			<td>5</td>
																			<td>United Kingdom </td>
																			<td>188</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																		<tr>
																			<td>6</td>
																			<td>Germany</td>
																			<td>58</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																		<tr>
																			<td>7</td>
																			<td>Portugal</td>
																			<td>108</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																	</tbody>
																</table>
															</div> 
													</div>
												</div>

												<div class="col-xl-6">
													<div id="mapas"></div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-12">
										<div class="rounded  p-1 mb-2" style="background-color: #ffffff;">
											<div class="row g-xl-8 mb-5">
												<div class="col-xl-6">
													<div class="text-center p-5"> 
															<div class="table-responsive">
																<table class="table table-row-dashed table-row-gray-300">
																	<thead>
																		<tr class="fw-bolder fs-6 text-gray-800">
																			<th></th>
																			<th>Cidade</th>
																			<th>Visualizações d…</th>
																			<th>Transações</th>
																			<th>Receita</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>1</td>
																			<td>(not set)</td>
																			<td>23.058</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																		<tr>
																			<td>2</td>
																			<td>Curitiba</td>
																			<td>188</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																		<tr>
																			<td>3</td>
																			<td>Sao Paulo</td>
																			<td>58</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr> 
																		<tr>
																			<td>4</td>
																			<td>Rio de Janeiro</td>
																			<td>108</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr> 
																		<tr>
																			<td>5</td>
																			<td>Belo Horizonte</td>
																			<td>188</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																		<tr>
																			<td>6</td>
																			<td>Campinas</td>
																			<td>58</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>  
																		<tr>
																			<td>7</td>
																			<td>Porto Alegre</td>
																			<td>108</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																		<tr>
																			<td>8</td>
																			<td>Brasilia</td>
																			<td>108</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																		<tr>
																			<td>9</td>
																			<td>Fortaleza</td>
																			<td>108</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																		<tr>
																			<td>10</td>
																			<td>Outros</td>
																			<td>108</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																	</tbody>
																</table>
															</div> 
													</div>
												</div>

												<div class="col-xl-6">
													<div class="pt-12"> 
													<div id="cidade"></div>
												</div>
											</div>
											</div>
										</div>
									</div>

									<div class="col-xl-12">
										<div class="rounded  p-1 mb-2" style="background-color: #ffffff;">
											<div class="row g-xl-8 mb-5">
												<div class="col-xl-6">
													<div class="text-center p-5"> 
															<div class="table-responsive">
																<table class="table table-row-dashed table-row-gray-300">
																	<thead>
																		<tr class="fw-bolder fs-6 text-gray-800">
																			<th></th>
																			<th>Mídia / origem d… </th>
																			<th>Visualizações d…</th>
																			<th>Transações</th>
																			<th>Receita</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>1</td>
																			<td>trafego/facebook </td>
																			<td>23.058</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																		<tr>
																			<td>2</td>
																			<td>(direct)/(none) </td>
																			<td>188</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																		<tr>
																			<td>3</td>
																			<td>l.facebook.com/ref… </td>
																			<td>58</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr> 
																		<tr>
																			<td>4</td>
																			<td>m.facebook.com/re… </td>
																			<td>108</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr> 
																		<tr>
																			<td>5</td>
																			<td>bethania.com.br/re… </td>
																			<td>188</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																		<tr>
																			<td>6</td>
																			<td>RD Station/email </td>
																			<td>58</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>  
																		<tr>
																			<td>7</td>
																			<td>lm.facebook.com/r…</td>
																			<td>108</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																		<tr>
																			<td>8</td>
																			<td>google/organic</td>
																			<td>108</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																		<tr>
																			<td>9</td>
																			<td>facebook/anuncio</td>
																			<td>108</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																		<tr>
																			<td>10</td>
																			<td>youtube.com/referral </td>
																			<td>108</td>
																			<td>0</td>
																			<td>R$ 0</td>
																		</tr>
																	</tbody>
																</table>
															</div> 
													</div>
												</div>

												<div class="col-xl-6">
													<div class="pt-12"> 
													<div id="midia"></div>
												</div>
											</div>
											</div>
										</div>
									</div>

									
									<div class="col-xl-12">
										<div class="rounded  p-1 mb-2" style="background-color: #ffffff;">
											<div class="row g-xl-8 mb-5">
												<div class="col-xl-6">
													<div class="text-center p-5"> 
														<div class="pt-12"> 
															<div id="despositivoX"></div>
														</div>
													</div>
												</div>

												<div class="col-xl-6">
													<div class="pt-12"> 
													<div id="despositivoY"></div>
												</div>
											</div>
											</div>
										</div>
									</div>


									<div class="col-xl-12">
										<div class="rounded  p-1 mb-2" style="background-color: #ffffff;">
											<div class="row g-xl-8 mb-5">
												<div class="col-xl-6">
													<div class="text-center p-5"> 
															<div class="table-responsive">
																<table class="table table-row-dashed table-row-gray-300">
																	<thead>
																		<tr class="fw-bolder fs-6 text-gray-800">
																			<th></th>
																			<th>Marca do dispositivo …</th>
																			<th>Modelo de dispositivo…</th>
																			<th>Visualizações de página</th> 
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>1</td>
																			<td>Samsung</td>
																			<td>SM-A015M</td> 
																			<td>23.058</td>
																		</tr>
																		<tr>
																			<td>2</td>
																			<td>Samsung</td>
																			<td>SM-A015M</td> 
																			<td>188</td>
																		</tr>
																		<tr>
																			<td>3</td>
																			<td>Samsung</td>
																			<td>SM-A015M</td>
																			<td>58</td> 
																		</tr> 
																		<tr>
																			<td>4</td>
																			<td>Samsung</td>
																			<td>SM-A015M</td> 
																			<td>108</td>
																		</tr> 
																		<tr>
																			<td>5</td>
																			<td>Samsung</td>
																			<td>SM-A015M</td> 
																			<td>188</td>
																		</tr>
																		<tr>
																			<td>6</td>
																			<td>Samsung</td>
																			SM-A105M 
																			<td>58</td>
																		</tr>  
																		<tr>
																			<td>7</td>
																			<td>Samsung</td>
																			<td>SM-A015M</td> 
																			<td>108</td> 
																		</tr>
																		<tr>
																			<td>8</td>
																			<td>Samsung</td>
																			<td>SM-A105M </td> 
																			<td>108</td> 
																		</tr>
																		<tr>
																			<td>9</td>
																			<td>Apple</td>
																			<td>SM-A015M</td> 
																			<td>108</td> 
																		</tr>
																	</tbody>
																</table>
															</div> 
													</div>
												</div>

												<div class="col-xl-6">
													<div class="pt-12"> 
													<div id="dispositivo"></div>
												</div>
											</div>
											</div>
										</div>
									</div>

									
									
									<div class="col-xl-12">
										<div class="rounded  p-1 mb-2" style="background-color: #ffffff;">
											<div class="row g-xl-8 mb-5">
												<div class="col-xl-6">
													<div class="text-center p-5"> 
														<div class="pt-12"> 
															<div id="idadeX"></div>
														</div>
													</div>
												</div>

												<div class="col-xl-6">
													<div class="pt-12"> 
													<div id="idadeY"></div>
												</div>
											</div>
											</div>
										</div>
									</div>

									
									
									
									<div class="col-xl-12">
										<div class="rounded  p-1 mb-2" style="background-color: #ffffff;">
											<div class="row g-xl-8 mb-5">
												<div class="col-xl-6">
													<div class="text-center p-5"> 
														<div class="pt-12"> 
															<div id="sexoX"></div>
														</div>
													</div>
												</div>

												<div class="col-xl-6">
													<div class="pt-12"> 
													<div id="sexoY"></div>
												</div>
											</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<c-footer />
	</div>
</div>