<div>
	<div>

		<c-header></c-header>
		<c-aside></c-aside>

		<div class="d-flex flex-column flex-root">

			<div class="page d-flex flex-row flex-column-fluid">

				<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">

					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

						<div class="post d-flex flex-column-fluid" id="kt_post">

							<div id="kt_content_container" class="container-xxl">

								<!--pesquisa-->


								<div class="card mb-5 mb-lg-10">

									<div class="card-header">

										<div class="card-title">
											<div class=" m-5">
												Filtros
											</div>

										</div>
										<div class="card-toolbar">
											<div class="my-1 me-2">
												<div
													class="d-flex align-items-center text-center position-relative my-1">
													<span class="svg-icon svg-icon-1 position-absolute ms-6">
														<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
															fill="currentColor" class="bi bi-calendar-date"
															viewBox="0 0 16 16">
															<path
																d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
															<path
																d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
														</svg>
													</span>
													<input type="text" data-kt-filemanager-table-filter="search"
														class="form-control form-control-solid w-200px ps-15"
														placeholder="13/12/2020">
												</div>
											</div>
											<a href="#" class="btn btn-sm btn-primary my-1">Aplicar</a>
										</div>
									</div>

								</div>


								<div class="row g-5 g-xl-8 mb-5 mb-xl-15">

									<div class="col-xl-12">
										<div class="rounded p-1 mb-2" style="background-color: #ffffff;">
											<div class="row g-xl-8 mb-5">

												<div class="col-xl-6">
													<div class="d-flex align-items-center text-center rounded p-1 mb-2">

														<div class="flex-grow-1 me-2">
															<div id="chartdiv"></div>
														</div>
													</div>
												</div>

												<div class="col-xl-6">
													<div class="row">

														<div class="col-xl-6 p-4">
															<div
																class="d-flex align-items-center text-center bg-visual rounded">
																<div class="flex-grow-1 me-2">
																	<span
																		class="text-muted fw-bold d-block">Visualizações
																		de página</span>
																	<a
																		class="fw-bolder text-gray-800 text-hover-cyan fs-4">
																		23.423</a>
																</div>
															</div>
														</div>

														<div class="col-xl-6 p-4">
															<div
																class="d-flex align-items-center text-center bg-visual rounded">
																<div class="flex-grow-1 me-2">
																	<span
																		class="text-muted fw-bold d-block">Percentuais</span>
																	<a
																		class="fw-bolder text-gray-800 text-hover-cyan fs-4">
																		100</a>
																</div>
															</div>
														</div>

														<div class="col-xl-6 p-4">
															<div
																class="d-flex align-items-center text-center bg-visual rounded">
																<div class="flex-grow-1 me-2">
																	<span
																		class="text-muted fw-bold d-block">Visualizações
																		de página</span>
																	<a
																		class="fw-bolder text-gray-800 text-hover-cyan fs-4">
																		Não hã dados</a>
																</div>
															</div>
														</div>

														<div class="col-xl-6 p-4">
															<div
																class="d-flex align-items-center text-center bg-visual rounded">
																<div class="flex-grow-1 me-2">
																	<span
																		class="text-muted fw-bold d-block">Percentuais</span>
																	<a
																		class="fw-bolder text-gray-800 text-hover-cyan fs-4">
																		0</a>
																</div>
															</div>
														</div>
														<div class="col-xl-6 p-4">
															<div
																class="d-flex align-items-center text-center bg-visual rounded">
																<div class="flex-grow-1 me-2">
																	<span
																		class="text-muted fw-bold d-block">Visualizações
																		de página</span>
																	<a
																		class="fw-bolder text-gray-800 text-hover-cyan fs-4">
																		Não hã dados</a>
																</div>
															</div>
														</div>

														<div class="col-xl-6 p-4">
															<div
																class="d-flex align-items-center text-center bg-visual rounded">
																<div class="flex-grow-1 me-2">
																	<span
																		class="text-muted fw-bold d-block">Percentuais</span>
																	<a
																		class="fw-bolder text-gray-800 text-hover-cyan fs-4">
																		0</a>
																</div>
															</div>
														</div>


													</div>
												</div>
											</div>
										</div>
									</div>



									<div class="row">
										<div class="col-xl-2 p-4">
											<div class="d-flex align-items-center text-center bg-visual rounded">
												<div class="flex-grow-1 me-2">
													<span class="text-muted fw-bold d-block">Novos usuários
													</span>
													<a class="fw-bolder text-gray-800 text-hover-cyan fs-4">
														9.257</a>
												</div>
											</div>
										</div>

										<div class="col-xl-2 p-4">
											<div class="d-flex align-items-center text-center bg-visual rounded">
												<div class="flex-grow-1 me-2">
													<span class="text-muted fw-bold d-block">Recorrente
													</span>
													<a class="fw-bolder text-gray-800 text-hover-cyan fs-4">
														497</a>
												</div>
											</div>
										</div>

										<div class="col-xl-2 p-4">
											<div class="d-flex align-items-center text-center bg-visual rounded">
												<div class="flex-grow-1 me-2">
													<span class="text-muted fw-bold d-block">usuários</span>
													<a class="fw-bolder text-gray-800 text-hover-cyan fs-4">
														9.754</a>
												</div>
											</div>
										</div>

										<div class="col-xl-6 p-4">
											<div class="d-flex align-items-center text-center bg-visual rounded">
												<div class="flex-grow-1 me-2">
													<span class="text-muted fw-bold d-block">Valor total</span>
													<a class="fw-bolder text-gray-800 text-hover-cyan fs-4">
														Não há dados </a>
												</div>
											</div>
										</div>
									</div>


									<div class="row g-xl-8 mb-5">

										<div class="col-xl-6">
											<div class="d-flex align-items-center text-center rounded p-1 mb-2">
												<div class="py-5">
													<div class="table-responsive">
													 <table class="table table-row-dashed table-row-gray-300 gy-7">
													  <thead>
													   <tr class="fw-bolder fs-6 text-gray-800">
														<th></th>
														<th>Pais</th>
														<th>Visualizações d…</th>
														<th>Transações</th>
														<th>Receita</th> 
													   </tr>
													  </thead>
													  <tbody>
													   <tr>
														<td>1</td>
														<td>Brasil</td>
														<td>23.058</td>
														<td>0</td>
														<td>R$ 0</td> 
													   </tr>
													   <tr>
														<td>2</td>
														<td>United States </td>
														<td>188</td>
														<td>0</td>
														<td>R$ 0</td> 
													   </tr>
													   <tr>
														<td>3</td>
														<td>Hungary</td>
														<td>58</td>
														<td>0</td>
														<td>R$ 0</td> 
													   </tr>
													   <tr>
														<td>4</td>
														<td>France</td>
														<td>108</td>
														<td>0</td>
														<td>R$ 0</td> 
													   </tr>
													  </tbody>
													 </table>
													</div>
												   </div> 
												 
											</div>
										</div>

										<div class="col-xl-6">
											<div id="mapas"></div>
										</div>
									</div>


								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<c-footer />
	</div>
</div>