import adm from "../../../../../static/js/api/adm.js"

export default {
template: `
<div>
	<div>

		<c-header></c-header>
		<c-aside></c-aside>

		<div class="d-flex flex-column flex-root">

			<div class="page d-flex flex-row flex-column-fluid">

				<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">

					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

						<div class="post d-flex flex-column-fluid" id="kt_post">

							<div id="kt_content_container" class="container-xxl">

								<div class="row g-5 g-xl-8">

									<div class="col-xl-3">
										<div class="d-flex align-items-center mb-7">
											<!--begin::Symbol-->
											<div class="symbol symbol-50px me-5">
												<span class="symbol-label bg-light-primary">
													<!--begin::Svg Icon | path: icons/duotune/communication/com012.svg-->
													<span class="svg-icon svg-icon-2x svg-icon-primary">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<path opacity="0.3" d="M20 3H4C2.89543 3 2 3.89543 2 5V16C2 17.1046 2.89543 18 4 18H4.5C5.05228 18 5.5 18.4477 5.5 19V21.5052C5.5 22.1441 6.21212 22.5253 6.74376 22.1708L11.4885 19.0077C12.4741 18.3506 13.6321 18 14.8167 18H20C21.1046 18 22 17.1046 22 16V5C22 3.89543 21.1046 3 20 3Z" fill="currentColor"></path>
															<rect x="6" y="12" width="7" height="2" rx="1" fill="currentColor"></rect>
															<rect x="6" y="7" width="12" height="2" rx="1" fill="currentColor"></rect>
														</svg>
													</span>
												</span>
											</div>
											<div class="d-flex flex-column">
												<a href="#" class="text-dark text-hover-primary fs-6 fw-bolder">Functional Logics</a>
												<span class="text-muted fw-bold">Lead Developer</span>
											</div>
										</div>
									</div>

									<div class="col-xl-3">
										<div class="d-flex align-items-center mb-7">
											<!--begin::Symbol-->
											<div class="symbol symbol-50px me-5">
												<span class="symbol-label bg-light-success">
													<!--begin::Svg Icon | path: icons/duotune/abstract/abs027.svg-->
													<span class="svg-icon svg-icon-2x svg-icon-success">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<path opacity="0.3" d="M21.25 18.525L13.05 21.825C12.35 22.125 11.65 22.125 10.95 21.825L2.75 18.525C1.75 18.125 1.75 16.725 2.75 16.325L4.04999 15.825L10.25 18.325C10.85 18.525 11.45 18.625 12.05 18.625C12.65 18.625 13.25 18.525 13.85 18.325L20.05 15.825L21.35 16.325C22.35 16.725 22.35 18.125 21.25 18.525ZM13.05 16.425L21.25 13.125C22.25 12.725 22.25 11.325 21.25 10.925L13.05 7.62502C12.35 7.32502 11.65 7.32502 10.95 7.62502L2.75 10.925C1.75 11.325 1.75 12.725 2.75 13.125L10.95 16.425C11.65 16.725 12.45 16.725 13.05 16.425Z" fill="currentColor"></path>
															<path d="M11.05 11.025L2.84998 7.725C1.84998 7.325 1.84998 5.925 2.84998 5.525L11.05 2.225C11.75 1.925 12.45 1.925 13.15 2.225L21.35 5.525C22.35 5.925 22.35 7.325 21.35 7.725L13.05 11.025C12.45 11.325 11.65 11.325 11.05 11.025Z" fill="currentColor"></path>
														</svg>

													</span>
												</span>
											</div>
											<div class="d-flex flex-column">
												<a href="#" class="text-dark text-hover-primary fs-6 fw-bolder">Project Briefing</a>
												<span class="text-muted fw-bold">Project Manager</span>
											</div>
										</div>
									</div>
 
                   
								 
									<div class="col-xl-3">
										<div class="d-flex align-items-center mb-7"> 
											<div class="symbol symbol-50px me-5">
												<span class="symbol-label bg-light-success">
												 	<span class="svg-icon svg-icon-2x svg-icon-success">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<path opacity="0.3" d="M21.25 18.525L13.05 21.825C12.35 22.125 11.65 22.125 10.95 21.825L2.75 18.525C1.75 18.125 1.75 16.725 2.75 16.325L4.04999 15.825L10.25 18.325C10.85 18.525 11.45 18.625 12.05 18.625C12.65 18.625 13.25 18.525 13.85 18.325L20.05 15.825L21.35 16.325C22.35 16.725 22.35 18.125 21.25 18.525ZM13.05 16.425L21.25 13.125C22.25 12.725 22.25 11.325 21.25 10.925L13.05 7.62502C12.35 7.32502 11.65 7.32502 10.95 7.62502L2.75 10.925C1.75 11.325 1.75 12.725 2.75 13.125L10.95 16.425C11.65 16.725 12.45 16.725 13.05 16.425Z" fill="currentColor"></path>
															<path d="M11.05 11.025L2.84998 7.725C1.84998 7.325 1.84998 5.925 2.84998 5.525L11.05 2.225C11.75 1.925 12.45 1.925 13.15 2.225L21.35 5.525C22.35 5.925 22.35 7.325 21.35 7.725L13.05 11.025C12.45 11.325 11.65 11.325 11.05 11.025Z" fill="currentColor"></path>
														</svg>

													</span>
												</span>
											</div>
											<div class="d-flex flex-column">
												<a href="#" class="text-dark text-hover-primary fs-6 fw-bolder">Project Briefing</a>
												<span class="text-muted fw-bold">Project Manager</span>
											</div>
										</div>
									</div>



								</div>
								
								<div class="row g-5 g-xl-8">

									<div class="col-xl-6">

										<div class="card card-xl-stretch mb-xl-8">
											<div class="card-body p-5">
												<div id="statusDoacao">
												</div>
											</div>
										</div>

									</div>
									<!--end::Col-->

									<div class="col-xl-6">

										<div class="card card-xl-stretch mb-xl-8">
											<div class="card-body p-5">
												<div id="tipoDoador">
												</div>
											</div>
										</div>

									</div>
									<!--end::Col-->

									<div class="col-xl-6">

										<div class="card card-xl-stretch mb-xl-8">
											<div class="card-body p-5">
												<div id="statusDoador">
												</div>
											</div>
										</div>

									</div>
									<!--end::Col-->


									<!--begin::Col-->
									<div class="col-xl-6">

										<div class="card card-xl-stretch mb-5 mb-xl-8">
											<div class="card-body p-5">
												<div id="statusAssinturas">
												</div>
											</div>
										</div>

									</div>
									<!--end::Col-->

									<!--begin::Col-->
									<div class="col-xl-6">

										<div class="card card-xl-stretch mb-5 mb-xl-8">
											<div class="card-body p-5">
												<div id="formaPagamento">
												</div>
											</div>
										</div>

									</div>
									<!--end::Col-->


									<!--begin::Col-->
									<div class="col-xl-6">


										<div class="card card-xl-stretch mb-5 mb-xl-8">
											<div class="card-body p-5">
												<div id="chart4">
												</div>
											</div>
										</div>


									</div>
									<!--end::Col-->

									<!--begin::Col-->
									<div class="col-xl-12">


										<div class="card card-xl-stretch mb-5 mb-xl-8">
											<div class="card-body p-5">
												<div id="chart">
												</div>
											</div>
										</div>


									</div>
									<!--end::Col-->
									<!--begin::Col-->
									<div class="col-xl-12">


										<div class="card card-xl-stretch mb-5 mb-xl-8">
											<div class="card-body p-5">
												<div id="chart5">
												</div>
											</div>
										</div>


									</div>
									<!--end::Col-->
								</div>


							</div>

						</div>

					</div>

				</div>

			</div>

		</div>


		<c-footer />
	</div>

</div>