import adm from "../../../../../static/js/api/adm.js"

export default {
template: `
<div>
	<div>

		<c-header></c-header>
		<c-aside></c-aside>

		<div class="d-flex flex-column flex-root">

			<div class="page d-flex flex-row flex-column-fluid">

				<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">

					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

						<div class="post d-flex flex-column-fluid" id="kt_post">

							<div id="kt_content_container" class="container-xxl">

								<div class="row g-5 g-xl-8">

									<div class="col-xl-6">

										<div class="card card-xl-stretch mb-xl-8">
											<div class="card-body p-5">
												<div id="statusDoacao">
												</div>
											</div>
										</div>

									</div>
									<!--end::Col-->

									<div class="col-xl-6">

										<div class="card card-xl-stretch mb-xl-8">
											<div class="card-body p-5">
												<div id="tipoDoador">
												</div>
											</div>
										</div>

									</div>
									<!--end::Col-->

									<div class="col-xl-6">

										<div class="card card-xl-stretch mb-xl-8">
											<div class="card-body p-5">
												<div id="statusDoador">
												</div>
											</div>
										</div>

									</div>
									<!--end::Col-->


										<!--begin::Col-->
										<div class="col-xl-6">

											<div class="card card-xl-stretch mb-5 mb-xl-8">
												<div class="card-body p-5">
													<div id="statusAssinturas">
													</div>
												</div>
											</div>
	
										</div>
										<!--end::Col-->

									<!--begin::Col-->
									<div class="col-xl-6">

										<div class="card card-xl-stretch mb-5 mb-xl-8">
											<div class="card-body p-5">
												<div id="formaPagamento">
												</div>
											</div>
										</div>

									</div>
									<!--end::Col-->
 

									<!--begin::Col-->
									<div class="col-xl-6">


										<div class="card card-xl-stretch mb-5 mb-xl-8">
											<div class="card-body p-5">
												<div id="chart4">
												</div>
											</div>
										</div>


									</div>
									<!--end::Col-->


									<!--begin::Col-->
									<div class="col-xl-12">


										<div class="card card-xl-stretch mb-5 mb-xl-8">
											<div class="card-body p-5">
												<div id="chart5">
												</div>
											</div>
										</div>


									</div>
									<!--end::Col-->
								</div>


							</div>

						</div>

					</div>

				</div>

			</div>

		</div>


		<c-footer />
	</div>

</div>