<div>

	<c-header></c-header>
	<c-aside></c-aside>


	<!--begin::Root-->
	<div class="d-flex flex-column flex-root">

		<div class="page d-flex flex-row flex-column-fluid">

			<div class="wrapper d-flex flex-column flex-row-fluid">

				<div class="content d-flex flex-column flex-column-fluid">

					<div class="container-xxl">

						<div class="card mb-5 mb-xl-10">

							<div class="card-header border-0 cursor-pointer">
								<div class="card-title m-0">
									<h3 class="fw-bolder m-0">Metas {{ano}}</h3>
								</div>



								<div class="card-toolbar" data-kt-buttons="true">
									<select @change="setar_ano()" v-model="ano" class="form-select form-select-solid"
										aria-label="Select example">
										<option v-for="dado in ano_aray">{{ dado }}</option>

									</select>
								</div>


							</div>

							<div class="card-body border-top p-9">
								<div class="d-flex flex-wrap align-items-center mb-10">
									<div class="flex-row-fluid">

										<form @submit.prevent="adicionaMetas" class="form">
											<div class="row mb-1">
												<div class="col-lg-3">
													<div class="fv-row mb-5">
														<label for="Valor"
															class="form-label fs-6 fw-bolder mb-3 required">janeiro</label>
														<input type="text" @input="masc_money1" placeholder="00,00"
															v-model.trin="$v.janeiro.$model" required
															:class=" {'is-invalid':$v.janeiro.$error, 'is-valid':!$v.janeiro.$invalid }"
															class="form-control form-control-lg form-control-solid ">
													</div>
												</div>
												<div class="col-lg-3">
													<div class="fv-row mb-5">
														<label for="Valor"
															class="form-label fs-6 fw-bolder mb-3 required">fevereiro</label>
														<input type="text" @input="masc_money2" placeholder="00,00"
															v-model.trin="$v.fevereiro.$model" required
															:class=" {'is-invalid':$v.fevereiro.$error, 'is-valid':!$v.fevereiro.$invalid }"
															class="form-control form-control-lg form-control-solid ">
													</div>
												</div>
												<div class="col-lg-3">
													<div class="fv-row mb-5">
														<label for="Valor"
															class="form-label fs-6 fw-bolder mb-3 required">março</label>
														<input type="text" @input="masc_money3" placeholder="00,00"
															v-model.trin="$v.marco.$model" required
															:class=" {'is-invalid':$v.marco.$error, 'is-valid':!$v.marco.$invalid }"
															class="form-control form-control-lg form-control-solid ">
													</div>

												</div>


												<div class="col-lg-3">
													<div class="fv-row mb-5">
														<label for="Valor"
															class="form-label fs-6 fw-bolder mb-3 required">abril</label>
														<input type="text" @input="masc_money4" placeholder="00,00"
															v-model.trin="$v.abril.$model" required
															:class=" {'is-invalid':$v.abril.$error, 'is-valid':!$v.abril.$invalid }"
															class="form-control form-control-lg form-control-solid ">
													</div>

												</div>
												<div class="col-lg-3">
													<div class="fv-row mb-5">
														<label for="Valor"
															class="form-label fs-6 fw-bolder mb-3 required">maio</label>
														<input type="text" @input="masc_money5" placeholder="00,00"
															v-model.trin="$v.maio.$model" required
															:class=" {'is-invalid':$v.maio.$error, 'is-valid':!$v.maio.$invalid }"
															class="form-control form-control-lg form-control-solid ">
													</div>

												</div>
												<div class="col-lg-3">
													<div class="fv-row mb-5">
														<label for="Valor"
															class="form-label fs-6 fw-bolder mb-3 required">junho</label>
														<input type="text" @input="masc_money6" placeholder="00,00"
															v-model.trin="$v.junho.$model" required
															:class=" {'is-invalid':$v.junho.$error, 'is-valid':!$v.junho.$invalid }"
															class="form-control form-control-lg form-control-solid ">
													</div>

												</div>
												<div class="col-lg-3">
													<div class="fv-row mb-5">
														<label for="Valor"
															class="form-label fs-6 fw-bolder mb-3 required">julho</label>
														<input type="text" @input="masc_money7" placeholder="00,00"
															v-model.trin="$v.julho.$model" required
															:class=" {'is-invalid':$v.julho.$error, 'is-valid':!$v.julho.$invalid }"
															class="form-control form-control-lg form-control-solid ">

													</div>

												</div>
												<div class="col-lg-3">
													<div class="fv-row mb-5">
														<label for="Valor"
															class="form-label fs-6 fw-bolder mb-3 required">agosto</label>
														<input type="text" @input="masc_money8" placeholder="00,00"
															v-model.trin="$v.agosto.$model" required
															:class=" {'is-invalid':$v.agosto.$error, 'is-valid':!$v.agosto.$invalid }"
															class="form-control form-control-lg form-control-solid ">

													</div>

												</div>
												<div class="col-lg-3">
													<div class="fv-row mb-5">
														<label for="Valor"
															class="form-label fs-6 fw-bolder mb-3 required">setembro</label>
														<input type="text" @input="masc_money9" placeholder="00,00"
															v-model.trin="$v.setembro.$model" required
															:class=" {'is-invalid':$v.setembro.$error, 'is-valid':!$v.setembro.$invalid }"
															class="form-control form-control-lg form-control-solid ">

													</div>

												</div>

												<div class="col-lg-3">
													<div class="fv-row mb-5">
														<label for="Valor"
															class="form-label fs-6 fw-bolder mb-3 required">outubro</label>
														<input type="text" @input="masc_money10" placeholder="00,00"
															v-model.trin="$v.outubro.$model" required
															:class=" {'is-invalid':$v.outubro.$error, 'is-valid':!$v.outubro.$invalid }"
															class="form-control form-control-lg form-control-solid ">

													</div>

												</div>
												<div class="col-lg-3">
													<div class="fv-row mb-5">
														<label for="Valor"
															class="form-label fs-6 fw-bolder mb-3 required">novembro</label>
														<input type="text" @input="masc_money11" placeholder="00,00"
															v-model.trin="$v.novembro.$model" required
															:class=" {'is-invalid':$v.novembro.$error, 'is-valid':!$v.novembro.$invalid }"
															class="form-control form-control-lg form-control-solid ">

													</div>

												</div>
												<div class="col-lg-3">
													<div class="fv-row mb-5">
														<label for="Valor"
															class="form-label fs-6 fw-bolder mb-3 required">dezembro</label>
														<input type="text" @input="masc_money12" placeholder="00,00"
															v-model.trin="$v.dezembro.$model" required
															:class=" {'is-invalid':$v.dezembro.$error, 'is-valid':!$v.dezembro.$invalid }"
															class="form-control form-control-lg form-control-solid ">

													</div>

												</div>
											</div>
											<c-mensagem :msg="msg"></c-mensagem>
											<div class="d-flex">
												<button class="btn btn-primary" type="submit"
													:disabled="submitStatus === 'PENDING'">SALVAR!</button>
											</div>
											<div> 
												<p class="typo__p" v-if="submitStatus === 'OK'">
												</p>
												<p class="typo__p" v-if="submitStatus === 'ERROR'">
													Por favor, preencha o formulário corretamente.</p>
												<p class="typo__p" v-if="submitStatus === 'PENDING'">Sending...
												</p>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>

						<div class="card card-xl-stretch mb-5 mb-xl-8">
							<div class="card-body p-5">
								<div id="faturamentos">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end::Root-->

	<c-footer />
</div>