<div class="col-xl-3">
	<div class="d-flex align-items-center bg-white-warning rounded p-1 mb-2"
		style="background-color: #ffffff;">
		<div class="symbol symbol-50px me-2 p-2">
			<span class="symbol-label bg-light-danger">
				<span class="svg-icon svg-icon-3x svg-icon-danger">

					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						fill="currentColor" class="bi bi-clipboard-check"
						viewBox="0 0 16 16">
						<path opacity="0.3" fill-rule="evenodd"
							d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"
							fill="currentColor" />
						<path
							d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"
							fill="currentColor" />
						<path
							d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"
							fill="currentColor" />
					</svg>
				</span>
			</span>
		</div>
		<div class="flex-grow-1 me-2">
			<span class="text-muted fw-bold d-block">Total de Doadores</span>
			<a href="#" class="fw-bolder text-gray-800 text-hover-danger fs-4">
				57</a>
		</div>
		<span class="fw-bolder text-danger py-1">+8%</span>
	</div>
</div>

<div class="col-xl-3">
	<div class="d-flex align-items-center bg-white-warning rounded p-1 mb-2"
		style="background-color: #ffffff;">
		<div class="symbol symbol-50px me-2 p-2">
			<span class="symbol-label bg-light-success">
				<span class="svg-icon svg-icon-3x svg-icon-success">

					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						fill="currentColor" class="bi bi-clipboard-check"
						viewBox="0 0 16 16">
						<path opacity="0.3" fill-rule="evenodd"
							d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"
							fill="currentColor" />
						<path
							d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"
							fill="currentColor" />
						<path
							d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"
							fill="currentColor" />
					</svg>
				</span>
			</span>
		</div>
		<div class="flex-grow-1 me-2">
			<span class="text-muted fw-bold d-block">Novos Doadores</span>
			<a href="#" class="fw-bolder text-gray-800 text-hover-success fs-4">
				35</a>
		</div>
		<span class="fw-bolder text-success py-1">+28%</span>
	</div>
</div>

<div class="col-xl-3">
	<div class="d-flex align-items-center bg-white-warning rounded p-1 mb-2"
		style="background-color: #ffffff;">
		<div class="symbol symbol-50px me-2 p-2">
			<span class="symbol-label bg-light-warning">
				<span class="svg-icon svg-icon-3x svg-icon-warning">

					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						fill="currentColor" class="bi bi-clipboard-check"
						viewBox="0 0 16 16">
						<path opacity="0.3" fill-rule="evenodd"
							d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"
							fill="currentColor" />
						<path
							d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"
							fill="currentColor" />
						<path
							d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"
							fill="currentColor" />
					</svg>
				</span>
			</span>
		</div>
		<div class="flex-grow-1 me-2">
			<span class="text-muted fw-bold d-block">Doadores Recorrentes</span>
			<a href="#" class="fw-bolder text-gray-800 text-hover-warning fs-4">
				20</a>
		</div>
	</div>
</div>

<div class="col-xl-3">
	<div class="d-flex align-items-center bg-white-warning rounded p-1 mb-2"
		style="background-color: #ffffff;">
		<div class="symbol symbol-50px me-2 p-2">
			<span class="symbol-label bg-light-primary">
				<span class="svg-icon svg-icon-3x svg-icon-primary">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						fill="currentColor" class="bi bi-clipboard-check"
						viewBox="0 0 16 16">
						<path opacity="0.3" fill-rule="evenodd"
							d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"
							fill="currentColor" />
						<path
							d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"
							fill="currentColor" />
						<path
							d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"
							fill="currentColor" />
					</svg>
				</span>
			</span>
		</div>
		<div class="flex-grow-1 me-2">
			<span class="text-muted fw-bold d-block ">Doadores Ùnico</span>
			<a href="#" class="fw-bolder text-gray-800 text-hover-primary fs-4">
				30</a>
		</div>
	</div>
</div>

	

<div class="col-xl-3">
	<div class="d-flex align-items-center bg-white-warning rounded p-1 mb-2"
		style="background-color: #ffffff;">
		<div class="symbol symbol-50px me-2 p-2">
			<span class="symbol-label bg-light-adimple">
				<span class="svg-icon svg-icon-3x">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
						fill="#6a9e4f" class="bi bi-clipboard-check"
						viewBox="0 0 16 16">

						<path fill-rule="evenodd"
							d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
						<path
							d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
						<path
							d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
					</svg>
				</span>
			</span>
		</div>
		<div class="flex-grow-1 me-2">
			<span class="text-muted fw-bold d-block">Doadores Adimplentes</span>
			<a href="#" class="fw-bolder text-gray-800 text-hover-cyan fs-4">
				50</a>
		</div>
	</div>
</div>

<div class="col-xl-3">
	<div class="d-flex align-items-center bg-white-warning rounded p-1 mb-2"
		style="background-color: #ffffff;">


		<div class="symbol symbol-50px me-2 p-2">
			<span class="symbol-label bg-light-credito">
				<span class="svg-icon svg-icon-3x">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
						fill="#c90076" class="bi bi-clipboard-check"
						viewBox="0 0 16 16">

						<path fill-rule="evenodd"
							d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
						<path
							d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
						<path
							d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
					</svg>
				</span>
			</span>
		</div>
		<div class="flex-grow-1 me-2">
			<span class="text-muted fw-bold d-block">Doadores Inadimplentes</span>
			<a href="#" class="fw-bolder text-gray-800 text-hover-cyan fs-4">
				20</a>
		</div>
	</div>
</div>



<div class="col-xl-3">
	<div class="d-flex align-items-center bg-white-warning rounded p-1 mb-2"
		style="background-color: #ffffff;">
		<div class="symbol symbol-50px me-2 p-2">
			<span class="symbol-label bg-light-success">
				<span class="svg-icon svg-icon-3x svg-icon-success">

					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						fill="currentColor" class="bi bi-clipboard-check"
						viewBox="0 0 16 16">
						<path opacity="0.3" fill-rule="evenodd"
							d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"
							fill="currentColor" />
						<path
							d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"
							fill="currentColor" />
						<path
							d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"
							fill="currentColor" />
					</svg>
				</span>
			</span>
		</div>
		<div class="flex-grow-1 me-2">
			<span class="text-muted fw-bold d-block">Doação Média</span>
			<a href="#" class="fw-bolder text-gray-800 text-hover-success fs-4">RS
				87.000</a>
		</div>

	</div>
</div>


<div class="col-xl-3">
	<div class="d-flex align-items-center bg-white-warning rounded p-1 mb-2"
		style="background-color: #ffffff;">
		<div class="symbol symbol-50px me-2 p-2">
			<span class="symbol-label bg-light-Boleto">
				<span class="svg-icon svg-icon-3x">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
						fill="#0dcaf0" class="bi bi-clipboard-check"
						viewBox="0 0 16 16">

						<path fill-rule="evenodd"
							d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
						<path
							d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
						<path
							d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
					</svg>
				</span>
			</span>
		</div>
		<div class="flex-grow-1 me-2">
			<span class="text-muted fw-bold d-block">Doações Previstas</span>
			<a href="#" class="fw-bolder text-gray-800 text-hover-cyan fs-4">RS
				1.000</a>
		</div>
		<span class="fw-bolder text-cyan py-1">+8%</span>
	</div>
</div>
