<div class="min-h-screen">

  <button v-if="successes" type="button" class="fixed top-4 right-4 z-50 rounded-md bg-green-500 px-4 py-2 text-white transition hover:bg-green-600">
    <div class="flex items-center space-x-2">
      <span class="text-3xl"><i class="bx bx-check"></i></span>
      <p class="font-bold">copiado com sucesso</p>
    </div>
  </button>

  <div class="flex justify-center min-h-screen py-8" :style="{'background-color': cor}">
    <div class="flex items-center w-full max-w-lg mx-auto lg:w-3/6">
      <div class="flex-1">
        <div class="text-center">
          <div class="flex flex-wrap justify-center mb-3">
            <img :src="logo" class="h-[75px] rounded mx-auto mb-4 object-center" onerror="logoDefault(this)" />
          </div>
        </div>
        <div class="bg-white rounded-md shadow-2xl p-5">
          <h1 class="text-gray-800 font-bold text-2xl mb-1 text-center">
            Clique no botão para copiar o código inteiro
          </h1>
          <div v-if="type=='PIX'">
            <img class="w-[250px] mx-auto" :src="'https://api-qrcode.digitalcombo.com.br/?code='+code">
          </div>
          <div class="border-2 border-gray-200 flex justify-between items-center mt-4 py-2">
            <i class="fa-solid fa-link px-4"></i>
            <input class="w-full outline-none bg-transparent" ref="codePix" v-model="code">
            <button @click="copyPix"
              class="bg-indigo-500 text-white rounded text-sm py-2 px-5 mr-2 hover:bg-indigo-600">
              copiar
            </button>
          </div>
          <div v-if="type=='BOLETO'">
            <a 
            :href="url"
            class="block mt-4 text-center bg-green-500 text-white rounded text-sm py-2 px-5 mx-auto hover:bg-green-600"
            >
              CLIQUE PARA VISUALIZAR O BOLETO
            </a>
          </div>
        </div> <br>
      </div>
    </div>
  </div>
</div>