<!DOCTYPE html>

<html lang="en">

<head>

	<title>Step by step</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>


<body id="kt_body" class="header-tablet-and-mobile-fixed aside-enabled">
	<div class="container" id="app">
		<div class="column is-12">
			<h3 class="title is-1">CEP</h3>
			<hr>
			<div class="notification is-warning" v-if="cep">
				<pre>{{ data }}</pre>
			</div>
			<input type="text" v-model="cep" @keyup="searchCep()" placeholder="digite o cep aqui">

		 <input type="text" v-model="logradouro" placeholder="rua"> 
		 <input type="text" v-model="complemento" placeholder="complemento">
			<!--
			<input type="text" v-model="bairro" placeholder="digite o cep aqui">
			<input type="text" v-model="localidade" placeholder="digite o cep aqui"> -->
		</div>
	</div>


	<!-- <script src="../../../static/js/api/cep.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: {
				cep: null,
				dados: [],
				messageCep: null,

				logradouro: null,
				complemento: null,
				localidade: null,
				bairro: null
			},
			methods: {
				async searchCep() {
					if (this.cep.length == 8) {
						axios.get(`https://viacep.com.br/ws/${this.cep}/json/`)
							.then(response => {
								
							this.logradouro = response.data.logradouro,
							this.complemento = response.data.complemento,
							console.log(response.data)
							}
							)
							.catch(error => console.log(error))
						
					}
				}
			},

			mounted() {

			},
		})
	</script>
</body>


</html>