<div>
    <c-header></c-header>
    <c-aside></c-aside> 
    <div class="d-flex flex-column flex-root" @blur="unfocused()"> 
        <div class="page d-flex flex-row flex-column-fluid"> 
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper"> 
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content"> 
                    <div class="post d-flex flex-column-fluid" id="kt_post"> 
                        <div id="kt_content_container" class="container-xxl"> 
                              

                            <div class="card"> 
                                
                                <header>
                                    <h1>Paginate</h1>
                                </header>
                            
                                <div id="paginate">
                                    <div class="list">
                                        <div class="item"> item 1</div>
                                        <div class="item"> item 2</div>
                                        <div class="item"> item 3</div>
                                    </div>
                                    <div class="controls">
                                        <div class="first">&#171;</div>
                                        <div class="prev"><</div>
                                        <div class="numbers">
                                            <div>1</div>
                                        </div>
                                        <div class="next">></div>
                                        <div class="last">&#187;</div>
                                    </div>
                                </div>
                            </div>
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 

    <c-footer /> 
</div>

