<div>
    <c-header></c-header>
    <c-aside></c-aside> 
    <div class="d-flex flex-column flex-root" @blur="unfocused()"> 
        <div class="page d-flex flex-row flex-column-fluid"> 
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper"> 
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content"> 
                    <div class="post d-flex flex-column-fluid" id="kt_post"> 
                        <div id="kt_content_container" class="container-xxl"> 
                              
                            <div class="table-responsive">
                                <table class="table align-middle table-row-dashed fs-6 gy-5"> 
                                    <thead> 
                                        <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
  
                                            <th class="min-w-125px">Doador</th>
                                            <th class="min-w-100px">Valor</th>
                                            <th class="min-w-125px">Status</th> 
                                            <th class="min-w-100px">Tipo</th>
                                            <th class="text-end min-w-70px">Ação</th>
                                        </tr> 
                                    </thead> 
                                    <tbody class="text-gray-600 fw-bold">
                                        <tr v-for="item in dadosPagina"> 
                                        <!--<tr v-for="item in dadosPagina">-->
                                        
                                            <td class="d-flex align-items-center"> 
                                                <div
                                                    class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                                                    <a
                                                        href="../../demo8/dist/apps/user-management/users/view.html">
                                                        <div class="symbol-label">
                                                        <img :src="item.gravatar" alt="Emma Smith" class="w-100" />
                                                        </div>
                                                    </a>
                                                </div> 
                                                <div class="d-flex flex-column">
                                                    <a class="text-gray-800 text-hover-primary mb-1">  
                                                      {{ item.nome }}
                                                    </a>
                                                    <span> {{ item.email }}</span>
                                                </div> 
                                            </td> 
                                            <td> {{  item.is_price }} </td> 
                                            <td>
                                                <div class="badge" > {{item.status_pagamento }} </div>
                                            </td> 
                                         
                                            <td>
                                                <div class="badge badge-light" > {{item.tipo }}</div>
                                            </td> 
                                            <td class="text-end">  
                                            </td> 
                                        </tr>
                                      
                                    </tbody> 
                                </table>


                           


                            <div class="d-flex flex-stack flex-wrap pt-10">
                                <div class="fs-6 fw-bold text-gray-700">Mostrando de 1 a 10 de 50 entradas

                                    <select class="selectpicker" v-model="elementoPaginacao" @change="atualizarPag()">
                                        <option value="3">3</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                    </select>
                                    linhas por página
                               
                                </div>
                                
                                <ul class="pagination">
               
                                    <li @click="getAnterior()" class="page-item previous disabled"><a class="page-link"><i class="previous"></i></a></li>
                                    <li  @click="getPagina(pagina)" v-for="pagina in botaoJmsPaginacao()" v-bind:class="estaActivo(pagina)" class="page-item "><a class="page-link "> <div>  {{pagina}}</div></a></li>
                                    <li class="page-item "><a href="#" class="page-link">...</a></li>
                                    <li @click="getUltima()" class="page-item "><a href="#" class="page-link">{{totalPagina()}}</a></li>
                                    <li @click="getProximo()" class="page-item next"><a class="page-link"><i class="next"></i></a></li>
                               
                                </ul> 
                                
                            </div>
                            </div> 
                            
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 

    <c-footer /> 
</div>

