<div>
    <c-header></c-header>
    <c-aside></c-aside>
    <div class="d-flex flex-column flex-root">
        <div class="page d-flex flex-row flex-column-fluid">
            <div class="wrapper d-flex flex-column flex-row-fluid">
                <div class="content d-flex flex-column flex-column-fluid">

                    <div class="container-xxl">
                        <div class="row g-5 g-xl-8">
                            <div class="row">
                                <div class="col">
                                    <div class="card card-dashed flex-center min-w-175px my-3 p-6">
                                        <span class="fs-4 fw-bold text-primary pb-1 px-2">Total de Doações</span>

                                        <span>
                                            {{ total | este_valor }}
                                        </span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-dashed flex-center min-w-175px my-3 p-6">
                                        <span class="fs-4 fw-bold text-success pb-1 px-2">Total Pago</span>

                                        <span> {{ pago | este_valor }} </span></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-dashed flex-center min-w-175px my-3 p-6">
                                        <span class="fs-4 fw-bold text-warning pb-1 px-2">Total Aberto</span>

                                        <span>{{ aberto | este_valor }}</span></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-dashed flex-center min-w-175px my-3 p-6">
                                        <span class="fs-4 fw-bold text-danger pb-1 px-2">Vencido/Cancelado</span>

                                        <span> {{ vencido | este_valor }} </span></span>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card card-dashed flex-center min-w-175px my-3 p-6">
                                        <span class="fs-4 fw-bold text-danger pb-1 px-2">Estornado </span>

                                        <span> {{ estorno | este_valor }} </span></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header border-0 pt-6">

                                <div class="card-title">

                                    <div class="d-flex align-items-center position-relative my-1">
                                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none">
                                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2"
                                                    rx="1" transform="rotate(45 17.0365 15.1223)" fill="black" />
                                                <path
                                                    d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                                    fill="black" />
                                            </svg>
                                        </span>
                                        <input type="text" v-model="search" @input="buscarNome"
                                            class="form-control form-control-solid w-250px ps-14"
                                            placeholder="Buscar Doadores ..." />
                                    </div>
                                </div>

                               
                            </div>
                            <div class="card-body pt-0">
                                <div class="table-responsive">
                                    <table class="table align-middle table-row-dashed fs-6 gy-5">
                                        <thead>
                                            <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">

                                                <th class="min-w-125px">Doador</th>
                                                <th class="min-w-100px">Valor</th>
                                                <th class="min-w-125px">Status</th>
                                                <th class="min-w-100px">Tipo</th>
                                                <th class="min-w-125px">Data</th>
                                                <th class="text-end min-w-70px">Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-gray-600 fw-bold">
                                            <tr v-for="item in filtraDoacoes" >
                                                

                                                <td class="d-flex align-items-center">
                                                    <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                                                        <a href="../../demo8/dist/apps/user-management/users/view.html">
                                                            <div class="symbol-label">
                                                                <img :src="item.doador_gravatar" alt="Emma Smith"
                                                                    class="w-100" />
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="d-flex flex-column">
                                                        <a class="text-gray-800 text-hover-primary mb-1">
                                                            {{ item.doador_nome }}
                                                        </a>
                                                        <span> {{ item.doador_email }}</span>
                                                    </div>
                                                </td>
                                                <td> {{ item.valor | este_valor }} </td>

                                                <td>
                                                    <div class="badge" :class="'status_'+item.status_pagamento">
                                                        {{item.status_pagamento | este_status}}</div>
                                                </td>

                                                <td>
                                                    <div class="badge badge-light">
                                                        {{item.tipo_pagamento | este_tipo}}
                                                    </div>
                                                </td>
                                                <td>
                                                    {{item.data | esta_data}} {{item.hora}}
                                                </td>

                                                <td class="text-end">

                                                    <a @click="editar(item.fatura_id)"
                                                        title="Para Visualizar da um click"
                                                        class="btn btn-icon btn-active-light-primary w-35px h-35px btn-primary"
                                                        style="margin: 2px;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-eye-fill"
                                                            viewBox="0 0 16 16">
                                                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                                            <path
                                                                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                                        </svg>
                                                    </a>

                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>





                                    
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <c-footer />
</div>