<div class="h-full bg-gray-100 p-8 rounded">
  
   <p class="leading-relaxed mb-6">{{text}}</p>
   <a class="inline-flex items-center">
     <img alt="testimonial" src="https://dummyimage.com/107x107" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
     <span class="flex-grow flex flex-col pl-4">
       <span class="title-font font-light text-gray-900">Publicado por: {{autor}}</span>
       <span class="text-gray-500 text-sm">Data: {{data}} </span>
     </span>
   </a>
 </div>
 <br>