<div class="flex items-center">
   <div class="inline-flex shadow-md hover:shadow-lg focus:shadow-lg" role="group">
     <a
       href="#"
       aria-current="page"
       class="
         rounded-l
         px-6
         py-2.5
         bg-blue-800
         text-white
         font-medium
         text-xs
         leading-tight
         uppercase
         hover:bg-blue-700
         focus:bg-blue-700 focus:outline-none focus:ring-0
         active:bg-blue-800
         transition
         duration-150
         ease-in-out
       "
     >
       Valor Total
     </a>
     
     <a
       href="#"
       class="
         rounded-r
         px-6
         py-2.5
         bg-blue-600
         text-white
         font-medium
         text-xs
         leading-tight
         uppercase
         hover:bg-blue-700
         focus:bg-blue-700 focus:outline-none focus:ring-0
         active:bg-blue-800
         transition
         duration-150
         ease-in-out
       "
     >
       Valor Parcial
     </a>
   </div>
 </div>