<div :class="sizes[size]||sizes.tres">
    <div :class="cores[cor]">
        <div class="flex flex-row items-center">
            <div class="flex-shrink pr-4">
                <div :class="variations[variation]"><i :class="icons[icon]||icons.home"></i></div>
            </div>
            <div class="flex-1 text-right md:text-center">
                <h2 class="font-bold uppercase text-gray-600">{{text}}</h2>
               <p class="font-bold text-3xl">{{value}}</p>
            </div>
        </div>
    </div>
 </div>
