<canvas width="20" height="20" style="display: block; box-sizing: border-box; height: 25px;" id="line-chart"></canvas>
<div class="mx-auto w-full">
    <div class="flex flex-wrap">
       <div class="w-full xl:w-8/12 px-4">
          <div class="relative flex flex-col min-w-0 break-words w-full mb-8 shadow-lg rounded-lg bg-blueGray-800">
             <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
                <div class="flex flex-wrap items-center">
                   <div class="relative w-full max-w-full flex-grow flex-1">
                      <h2 class="text-xl font-semibold text-black">Solicitar Saque</h2>
                   </div>
                </div>
             </div>
             <div class="p-4 flex-auto">
                <div class="relative h-350-px">
                    <p>teste apenas</p>
                   <canvas width="496" height="291" style="display: block; box-sizing: border-box; height: 350px; width: 595.5px;" id="line-chart"></canvas>
                </div>
             </div>
          </div>
       </div>
       <div class="pb-8 w-full xl:w-4/12 px-4">
          <div class="relative flex flex-col min-w-0 break-words w-full mb-8 shadow-lg rounded-lg bg-white text-blueGray-700">
             <div class="px-6 py-4 border-0">
                <div class="flex flex-wrap items-center">
                   <div class="relative w-full max-w-full flex-grow flex-1">
                      <h3 class="font-bold text-lg text-blueGray-700">Histórico</h3>
                   </div>
                </div>
             </div>
             <div class="block w-full overflow-x-auto">
                <table class="items-center w-full bg-transparent border-collapse">
                   <thead>
                      <tr>
                         <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-200">Data</th>
                         <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-200">Valor</th>
                         <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-200">Status</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr>
                         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center"><span class="ml-3 font-bold NaN">11/09/2022</span></div>
                         </td>
                         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center">R$ 1.480,00</div>
                         </td>
                         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 min-w-140-px">
                            <div class="flex items-center">
                               <div class="relative w-full">
                                  <div class="overflow-hidden h-2 text-xs flex rounded bg-red-200">
                                     <div class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500" style="width: 100%;"></div>
                                  </div>
                               </div>
                            </div>
                         </td>
                      </tr>
                      <tr>
                         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center"><span class="ml-3 font-bold NaN">10/09/2022</span></div>
                         </td>
                         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center">R$ 5.480,00</div>
                         </td>
                         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 min-w-140-px">
                            <div class="flex items-center">
                               <div class="relative w-full">
                                  <div class="overflow-hidden h-2 text-xs flex rounded bg-emerald-500">
                                     <div class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-blue-500" style="width: 100%;"></div>
                                  </div>
                               </div>
                            </div>
                         </td>
                      </tr>
                      <tr>
                         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center"><span class="ml-3 font-bold NaN">09/09/2022</span></div>
                         </td>
                         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center">R$ 4.807,00</div>
                         </td>
                         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 min-w-140-px">
                            <div class="flex items-center">
                               <div class="relative w-full">
                                  <div class="overflow-hidden h-2 text-xs flex rounded bg-indigo-200">
                                     <div class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-blue-500" style="width: 100%;"></div>
                                  </div>
                               </div>
                            </div>
                         </td>
                      </tr>
                      
                      <tr>
                         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center"><span class="ml-3 font-bold NaN">08/09/2022</span></div>
                         </td>
                         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center">R$ 2.645,00	</div>
                         </td>
                         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 min-w-140-px">
                            <div class="flex items-center">
                               <div class="relative w-full">
                                  <div class="overflow-hidden h-2 text-xs flex rounded bg-green-500">
                                     <div class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500" style="width: 100%;"></div>
                                  </div>
                               </div>
                            </div>
                         </td>
                      </tr>
                       <tr>
                         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center"><span class="ml-3 font-bold NaN">07/09/2022</span></div>
                         </td>
                         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center">R$ 5.480,00</div>
                         </td>
                         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 min-w-140-px">
                            <div class="flex items-center">
                               <div class="relative w-full">
                                  <div class="overflow-hidden h-2 text-xs flex rounded bg-emerald-200">
                                     <div class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-emerald-500" style="width: 100%;"></div>
                                  </div>
                               </div>
                            </div>
                         </td>
                      </tr>
                      <tr>
                         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center"><span class="ml-3 font-bold NaN">06/09/2022</span></div>
                         </td>
                         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center">R$ 4.807,00</div>
                         </td>
                         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 min-w-140-px">
                            <div class="flex items-center">
                               <div class="relative w-full">
                                  <div class="overflow-hidden h-2 text-xs flex rounded bg-green-200">
                                     <div class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500" style="width: 100%;"></div>
                                  </div>
                               </div>
                            </div>
                         </td>
                      </tr>
                     
                   </tbody>
                </table>
                <canvas width="20" height="20" style="display: block; box-sizing: border-box; height: 65px;" id="line-chart"></canvas>
             </div>
          </div>
       </div>
    </div>