<div>
	<div class="flex justify-between items-center h-[60px] py-2 px-4 relative">
		<div class="flex items-center gap-2">
			<img src="../public/logo/logo.svg" class="h-[30px] invisible lg:visible" alt="doar digital">
		</div>

		<div class="flex items-center gap-2">
			<label for="countries">Instituição:</label>
			<select id="countries" v-model="institution" @change="setInstitution">
				<option value="">Selecione</option>
				<option v-for="i in list" :value="i.institution_fk"> {{i.nome}} </option>
			</select>
			<div class="relative inline-block ltr:ml-8 rtl:mr-8 right-1">
				<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6 bi bi-bell"
					viewBox="0 0 16 16">
					<path
						d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
				</svg>
				<span
					class="flex justify-center absolute -top-2 -right-1 text-center bg-red-500 px-1 text-white rounded-full text-xs"><span
						class="align-self-center">2</span></span>
			</div>
			<div class="flex gap-2 items-center h-[60px] text-[#2563eb]">
				<img class="inline-block h-8 w-8 rounded-full ring-2 ring-blue"
					src="https://api.lorem.space/image/face?w=50&h=50" @click="toggleSubMenu">
				<span @click="toggleSubMenu">User</span>
				<i class="fa-solid fa-angle-down text-[#2563eb]" @click="toggleSubMenu"></i>
			</div>
		</div>
		<div @click="toggleSubMenu" v-show="statusSubMenu"
			class="z-10 absolute right-[20px] top-[50px] bg-[#EEE]  origin-top-right rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
			<div class="block px-4 py-2 text-md text-gray-700">
				<router-link to='meu-perfil'> Meu perfil</router-link>
			</div>
			<div class="block px-4 py-2 text-md text-gray-700">
				<router-link to='trocar-senha'> Trocar Senha </router-link>
			</div>
			<div class="block px-4 py-2 text-md text-gray-700" @click="sair">
				<span> Sair </span>
			</div>
		</div>
	</div>
</div>