<link rel="stylesheet" href="https://cdn.tailgrids.com/tailgrids-fallback.css" />

<section class="bg-white py-10 ">
   <div class="container">
      <div class="flex flex-wrap -mx-4">
         <div class="w-full px-4">
            <div class="max-w-full overflow-x-auto">
               <table class="table-auto w-full">
                  <thead>
                     <tr class="bg-primary text-center">
                        <th v-for="c in lista[0]"
                           class="
                           w-1/6
                           min-w-[160px]
                           text-lg
                           font-semibold
                           text-white
                           py-4
                           lg:py-7
                           px-3
                           lg:px-4
                           border-l border-transparent
                           "
                           >
                           {{c}}
                        </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr v-for="(tupla, i) in lista" v-show="i > 0">
                        <td v-for=" text in tupla"                            
                           class="
                           text-center text-dark
                           font-medium
                           text-base
                           py-5
                           px-2
                           bg-[#F3F6FF]
                           border-b border-l border-[#E8E8E8]
                           "
                           >
                           {{text}}
                        </td>
                        
                        
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</section>
