/* l-admi d-none usar na c-header classe para esconder no mobale hover kt_aside_toggle*/

.cheader {
    z-index: 2;
}


/* .isClose {
    display: none;
} */


/* 
w25

.sidebar a {
    display: block;
    height: 60px;
    width: 100%;
    color: white;
    line-height: 62px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgb(34, 34, 34);
    border-left: 5px solid transparent;
    transition: all .5s ease;
} 
.open .l-admin  a-footer
*/


/* .img_perfil {
    height: 100vh;
    width: 265px;
} */

.modulo {
    display: block;
    background-color: #FFF;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1)
}

.modulo img {
    display: block;
    height: 40px;
    margin: 0 auto
}

.modulo>span {
    border-top: 1px solid #EEE;
    display: flex;
    width: 100%;
    margin-top: 15px;
    justify-content: flex-end
}

.modulo>span>a>img {
    width: 40px;
    height: 40px;
    padding: 10px;
    filter: opacity(0.3)
}

.table_btn {
    display: flex;
    align-items: center;
    background-color: #0094E8;
    color: #FFF;
    font-weight: lighter;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer
}

.table_btn>span {
    display: block;
    margin-right: 12px
}

.table_btn img {
    display: block;
    height: 30px;
    padding: 8px;
    filter: invert(100)
}

.table_btn--trash {
    background-color: red
}

.table_btn--edit {
    background-color: #2ecc71
}

.table_btn--edit:hover {
    background-color: #27ae60
}

.paginacao {
    display: block;
    padding: 20px;
    text-align: center
}

.paginacao a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    color: #777;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #FFF
}

.paginacao a:hover {
    background-color: #0094E8;
    color: #FFF
}

.plus {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(40, 40, 240);
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1)
}

.plus:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: rgb(1, 1, 148);
}

.plus img {
    width: 40px;
    padding: 12px;
    filter: invert(100);
    height: 40px;
    pointer-events: none
}

.sidebar {
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 258px;
    overflow: hidden;
    display: inline-block;
    height: calc(100vh - 60px);
    position: fixed;
    /* left: 0; */
    z-index: 1030 !important;
}

.menu-item .menu {
    position: relative;
    overflow-y: auto;
    height: 70vh;
}


/* .container {
    open
    display: none;
    <span> {{user.nome}}</span> open
} */

.header {
    z-index: 2;
}

.a-aside {
    grid-area: aside;
    background-image: linear-gradient(45deg, blue, #1679bd);
    padding: 2rem 1.625rem 2.5rem;
    transition: 0.5s;
    border-radius: 0 0px 20px 0;
    box-shadow: 6px 4px 30px 0px rgb(0, 0, 0, 0.25);
    position: fixed;
    height: 100vh;
    width: 265px;
    z-index: 1;
    /* display:flex;
    flex-direction:column;
    */
    padding-top: 70px
}

.menu_img img {
    display: inline-block;
    width: 45px;
    height: 45px;
    padding: 15px;
    padding-left: 15px;
}

.symbol {
    padding-left: 15px;
}

.a-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 60px 120px 1fr 60px;
    text-transform: uppercase;
    max-width: 100vw;
    box-sizing: border-box;
}

.a-header img {
    display: inline-block;
    height: 60px;
    padding: 18px;
    cursor: pointer
}

.a-body {
    grid-area: body;
    display: block;
    max-width: 100vw;
    margin-top: 50px;
}

.a-footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.aside__link {
    color: #FFF;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
    border-left: 3px solid transparent;
    transition: all .3s ease-in-out;
    /* padding-right: 100px; */
    width: 205px;
}

.aside__link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 20px;
    color: #FFF;
}

.aside__link.active {
    /* border-left: 3px solid #F40C0C; */
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.aside__link img {
    filter: invert(100);
    /* color: #FFF;
    background-color: #FFF; */
}


/* @media (max-width: 761px) {
    .aside__link span {
        display: block;
    }
} */

.aside__link--gravatar img {
    padding: 0;
    filter: none;
    border-radius: 50px;
    border: 2px solid #EEE;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    width: 20px;
    height: 20px;
    margin: 10px
}

.gravatar {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 40px
}

.popupo-bg {
    /* display: flex; */
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

.popupo-bg>div {
    display: block;
    padding: 20px;
    border-radius: 5px;
    /* width: 40%;
    max-width: 70vw; */
    position: relative
}

.iten-lista-pop {
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    border-bottom: 1px solid #CCC
}

.iten-lista-pop img {
    display: block;
    width: 40px;
    height: 40px;
    padding: 12px;
    filter: opacity(0.5);
    cursor: pointer
}


/* AASDA---------------------------- */

.w25 {
    display: inline-block;
    width: 25%
}

.w-50 {
    display: inline-block;
    width: 50%
}

.w-40 {
    display: inline-block;
    width: 30px;
    margin-left: 10px
}

.open .l-admin {
    grid-template-columns: 0px 1fr
}

.badge {
    padding: 20px;
    margin: 2px;
}


/* .open .aside__link span {
    display: none a-body
} */

.open .kim {
    display: none;
}

.open .isClose {
    display: none;
}

.jms {
    margin-left: 3%;
}

.l-admin {
    display: grid;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    grid-template-areas: "header header" "aside body" "aside footer";
    grid-template-columns: 20% 1fr;
    grid-template-rows: 25px 1fr 50px;
    background-color: #ecf0f1;
    /* margin-top: 70px; a-aside*/
}

@media (max-width: 991px) {
    .l-admin {
        grid-template-columns: 0px;
        margin-top: 0px;
    }
    .a-body {}
    .toolbar {
        display: none;
    }
    .kim {
        /* display: none; */
        /* right: 100%; */
    }
    .esconder_toogle {
        float: left;
    }
    .fechaMenu {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .header {
        z-index: 1;
        position: fixed;
        width: 100%;
    }
    .a-aside {
        z-index: 2;
        padding-top: 0px
    }
}

.show {
    width: 100px;
}

@media (min-width: 991px) {
    .esconder_toogle {
        display: none;
    }
}

.rotate {
    /* transform: rotate(180deg); */
    transition: 0.5s;
}


/* .aside__link img {
    filter: invert(100)
}

@media (max-width: 761px) {
    .aside__link span {
        display: none
    }
} */