<div class="d-flex flex-column flex-lg-row flex-column-fluid stepper stepper-pills stepper-column">

    <p class="typo__p" v-if="submitStatus === 'CARREGAR'">
        <c-loading></c-loading>
    </p>
     
    <div class="d-flex flex-column flex-lg-row-auto w-xl-500px bg-lighten shadow-sm">

        <div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-500px scroll-y">
            <div class="d-flex flex-row-fluid flex-column flex-center p-10 pt-lg-20">
                <a href="../../demo9/dist/index.html" class="mb-10 mb-lg-20">
                    <img alt="Logo" src="assets/media/logos/logotipo1.png" class="h-40px" />
                </a>
                <div class="stepper-nav">

                    <div class="stepper-item completed" data-kt-stepper-element="nav">
                        <div class="stepper-line w-40px"></div>
                        <div class="stepper-icon w-40px h-40px">
                            <i class="stepper-check fas fa-check"></i>
                            <span class="stepper-number">1</span>
                        </div>
                        <div class="stepper-label">
                            <h3 class="stepper-title">Completar Perfil</h3>
                        </div>
                    </div>
                    <div class="stepper-item completed" data-kt-stepper-element="nav">
                        <div class="stepper-line w-40px"></div>
                        <div class="stepper-icon w-40px h-40px">
                            <i class="stepper-check fas fa-check"></i>
                            <span class="stepper-number">2</span>
                        </div>
                        <div class="stepper-label">
                            <h3 class="stepper-title">Endereço</h3>
                        </div>
                    </div>
                    <div class="stepper-item current" data-kt-stepper-element="nav">
                        <div class="stepper-line w-40px"></div>
                        <div class="stepper-icon w-40px h-40px">
                            <i class="stepper-check fas fa-check"></i>
                            <span class="stepper-number">3</span>
                        </div>
                        <div class="stepper-label">
                            <h3 class="stepper-title">Assinar Plano</h3>
                        </div>
                    </div>
                    <div class="stepper-item" data-kt-stepper-element="nav">
                        <div class="stepper-line w-40px"></div>
                        <div class="stepper-icon w-40px h-40px">
                            <i class="stepper-check fas fa-check"></i>
                            <span class="stepper-number">4</span>
                        </div>
                        <div class="stepper-label">
                            <h3 class="stepper-title">Finalizado</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-150px min-h-lg-300px"
                style="background-image: url(assets/media/illustrations/sigma-1/16.png"></div>
        </div>
    </div>
    <div class="d-flex flex-column flex-lg-row-fluid py-10">
        <div class="d-flex flex-center flex-column flex-column-fluid">
            <div class="w-lg-700px p-10 p-lg-15 mx-auto">
                <form @submit.prevent="transacao" class="my-auto pb-5">

                    <div class="current" data-kt-stepper-element="content">
                        <div class="w-100">
                            <div class="pb-7 pb-lg-7">
                                <h2 class="fw-bolder text-dark">
                                    Assinar Plano 
                                    <strong style="color: #C00;">R$98,90 </strong> 
                                    por mês
                                </h2>
                            </div>


                            <div
                                class="alert alert-dismissible bg-success d-flex flex-column flex-sm-row w-100 p-5 mb-10">
                                <span class="svg-icon svg-icon-2hx svg-icon-light me-4 mb-5 mb-sm-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path opacity="0.3"
                                            d="M2 4V16C2 16.6 2.4 17 3 17H13L16.6 20.6C17.1 21.1 18 20.8 18 20V17H21C21.6 17 22 16.6 22 16V4C22 3.4 21.6 3 21 3H3C2.4 3 2 3.4 2 4Z"
                                            fill="black"></path>
                                        <path
                                            d="M18 9H6C5.4 9 5 8.6 5 8C5 7.4 5.4 7 6 7H18C18.6 7 19 7.4 19 8C19 8.6 18.6 9 18 9ZM16 12C16 11.4 15.6 11 15 11H6C5.4 11 5 11.4 5 12C5 12.6 5.4 13 6 13H15C15.6 13 16 12.6 16 12Z"
                                            fill="black"></path>
                                    </svg>
                                </span>
                                <div class="d-flex flex-column text-light pe-0 pe-sm-10">
                                    <h4 class="mb-2 text-light">
                                        Inicie sua Jornada com nosso plano Start que contempla acesso a 1 Instituição e
                                        1000 disparos de WhatsApp
                                    </h4>
                                </div>
                            </div>

                            <!--
                                <div class="d-flex flex-column mb-7 fv-row">

                                <label class="d-flex align-items-center fs-6 fw-bold form-label mb-1">
                                    <span class="required">Valor a Pagar</span>
                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                        title="Este é o valor que vai ser pago ao finalizar o Caastro"></i>
                                </label>
                                <div class="bg-light rounded p-5 mt-1">
                                    <h4 class="text-success">
                                        {{valor | form_valor}}
                                    </h4>
                                </div>
                            </div>
-->




                            <div class="row">
                                <div class="col-6">
                                    <div class="d-flex flex-column mb-7 fv-row">

                                        <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
                                            <span class="required">Nome igual do cartão</span>
                                            <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                                title="Adicione o nome do seu cartão de credito"></i>
                                        </label>

                                        <input type="text" class="form-control form-control-solid" placeholder="Nome"
                                            name="card_name" required v-model="card_nome" />
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="d-flex flex-column mb-7 fv-row">

                                        <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
                                            <span class="required">Número do cartão</span>
                                            <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                                title="Adicione o Número do seu cartão de credito"></i>
                                        </label>
                                        <div class="position-relative">
                                            <input type="number" class="form-control form-control-solid" required
                                                v-mask="'################'" placeholder="Numero do Cartão"
                                                name="card_number" v-model="card_numero" />

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-10">
                                <div class="col-md-8 fv-row">

                                    <label class="required fs-6 fw-bold form-label mb-2">Data de validade </label>

                                    <div class="row fv-row">
                                        <div class="col-6">
                                            <select name="card_expiry_month" class="form-select form-select-solid"
                                                v-model="mes" data-hide-search="true" required>
                                                <option value="" disabled selected hidden>Mês</option>
                                                <option value="01">1</option>
                                                <option value="02">2</option>
                                                <option value="03">3</option>
                                                <option value="04">4</option>
                                                <option value="05">5</option>
                                                <option value="06">6</option>
                                                <option value="07">7</option>
                                                <option value="08">8</option>
                                                <option value="09">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <select name="card_expiry_year" class="form-select form-select-solid"
                                                v-model="ano" data-hide-search="true" required>
                                                <option value="" disabled hidden>Ano</option>
                                                <option value="22">2022</option>
                                                <option value="23">2023</option>
                                                <option value="24">2024</option>
                                                <option value="25">2025</option>
                                                <option value="26">2026</option>
                                                <option value="27">2027</option>
                                                <option value="28">2028</option>
                                                <option value="29">2029</option>
                                                <option value="30">2030</option>
                                                <option value="31">2031</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 fv-row">

                                    <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
                                        <span class="required">CVV</span>
                                        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                            title="Enter a card CVV code"></i>
                                    </label>

                                    <div class="position-relative">
                                        <input type="number" class="form-control form-control-solid" required
                                            minlength="3" maxlength="4" v-mask="'####'" placeholder="CVV"
                                            name="card_cvv" v-model="card_cvv" />

                                        <div class="position-absolute translate-middle-y top-50 end-0 me-3">
                                            <span class="svg-icon svg-icon-2hx">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none">
                                                    <path d="M22 7H2V11H22V7Z" fill="black" />
                                                    <path opacity="0.3"
                                                        d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19ZM14 14C14 13.4 13.6 13 13 13H5C4.4 13 4 13.4 4 14C4 14.6 4.4 15 5 15H13C13.6 15 14 14.6 14 14ZM16 15.5C16 16.3 16.7 17 17.5 17H18.5C19.3 17 20 16.3 20 15.5C20 14.7 19.3 14 18.5 14H17.5C16.7 14 16 14.7 16 15.5Z"
                                                        fill="black" />
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <label>
                        <input type="checkbox" required>
                        Aceito todos os Termos de Uso Doar Digital
                        <a href="http://127.0.0.1:5500/cadastro/#/termos" target="_blank">clique para ler</a>
                    </label>
                    <label>
                        <input type="checkbox" required>
                        Aceito os valores e taxas Doar Digital
                        <a href="http://127.0.0.1:5500/cadastro/#/termos" target="_blank">clique para ler</a>
                    </label>

                    <div class="alert alert-dismissible bg-danger d-flex flex-column flex-sm-row w-100 p-5 mb-10 mt-10" v-if="error">
                        {{error}}
                    </div>

                    <div class="d-flex flex-stack pt-15">
                        <div class="mr-2">
                            <a href="#/checkout_endereco" type="button" class="btn btn-lg btn-light-primary me-3">
                                Anterior</a>
                        </div>
                        <div v-show="invision">
                            <button type="submit" class="btn btn-lg btn-primary">
                                <span class="indicator-label">Fazer Assinatura
                                    <span class="svg-icon svg-icon-4 ms-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none">
                                            <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1"
                                                transform="rotate(-180 18 13)" fill="black" />
                                            <path
                                                d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                                                fill="black" />
                                        </svg>
                                    </span>
                                </span>
                                <span class="indicator-progress">Aguarda...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            </button>
                        </div>
                    </div>

                    <div class="pt-3">
                        <div class="alert alert-dismissible bg-danger d-flex flex-column flex-sm-row w-100 p-5 mb-10"
                            v-if="error">
                            <span class="svg-icon svg-icon-2hx svg-icon-light me-4 mb-5 mb-sm-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
                                        transform="rotate(-45 6 17.3137)" fill="black"></rect>
                                    <rect x="7.41422" y="6" width="16" height="2" rx="1"
                                        transform="rotate(45 7.41422 6)" fill="black"></rect>
                                </svg>
                            </span>
                            <div class="d-flex flex-column text-light pe-0 pe-sm-10">
                                <h4 class="mb-2 text-light">{{error}}</h4>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">

            <div class="d-flex flex-center fw-bold fs-6">
                <a href="https://doardigital.com.br" class="text-muted text-hover-primary px-2"
                    target="_blank">Sobre</a>
                <a href="https://crm.digitalcombo.com.br/index.php/about/suporte"
                    class="text-muted text-hover-primary px-2" target="_blank">Suporte</a>
                <a href="/cadastro/index.html#/termos" class="text-muted text-hover-primary px-2" target="_blank">Termos
                    & Condições</a>
            </div>
        </div>
    </div>
</div>