span .menu  {
    display: block;
    width: 15px;
    height: 15px;
    filter: opacity(.5);
    margin: 5px auto;
}
.active .menu {
    filter: opacity(1) invert(100);
}
 
.menux {
    background-color: rgba(32, 32, 32, 0.1) ;
} 

.menu-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 20px;
    color: #FFF !important;
}
.menu-link span {
    display: block;
    text-align: center;
    font-size: 10px;
}
.menu-link .menu-icon {
    background-color: #bbb ;
    display: grid;
    justify-content: center;
}
.menu-link:hover .menu-icon {
    /* background-color: aqua !important; */
}
.menu-link.active {
    color: #FFF !important;

}

.modulos{
    max-width:180px;
    margin-left: auto;
    margin-right: auto;
    /* width: 6em */
    
}

.modulo-img{
    max-width:180px;
}


.div-modulo{
    height:32px;
}

.all-step {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 11px;
    background: linear-gradient(#999, #999);
    background-repeat: no-repeat;
    background-size: 90% 2px;
    background-position: center 14px
}




.step-grid {
    display: grid;
    grid-template-columns: 25% 1fr;
    margin-bottom: 10px;
    align-items: center;
    border: 1px solid #CCC;
    border-radius: 5px;
    overflow: hidden;
    gap: 20px
}

.step-grid img {
    display: block;
    width: 65%;
    padding: 20px
}


.step-grid p {
    color: #999
}


.corte {
    display: block;
    position: relative
}

.item-corte {
    display: block;
    right: -3px;
    top: -25px;
    position: absolute;
    z-index: 99;
    background-color: transparent !important;
    width: 100% !important;
    padding: 0 !important
}

.xxbtn { 
    width: 200px !important;
}

 /* MEDIA QUERYS */
 @media screen and (max-width: 943px) {
  
    .modal-overlay {
        background-color: rgba(0, 0, 0, 0.342);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        display: none;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
      }
      
      .btnJms{
        z-index: 2;
      }

      .meu_modal {
        position: relative;
        display: none;
        overflow: hidden;
        -webkit-animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }
  }
 
