<div class="modal-overlay" id="jmsMenu">
	<div class="meu_modal " id="jmsMenu_modal">
		<div class="aside drawer drawer-start drawer-on" >

			<div class="aside-logo flex-column-auto pt-10 pt-lg-20">
				<a href="/../painel-geral/">
					<img src="../painel-geral/assets/logo/logotipo.png" class="w-100px" />
				</a>

			</div>

			<div class="aside-menu flex-column-fluid pt-0 pb-5 py-lg-5">

				<div class="w-100 hover-scroll-overlay-y scroll-ps d-flex">
					<div class="menu menu-column menu-title-gray-600 menu-state-primary menu-state-icon-primary menu-state-bullet-primary menu-icon-gray-400 menu-arrow-gray-400 fw-bold fs-6">


						<div class="menu-item py-3" v-for="m in lista">
							<a class="menu-link" @click="setar()" :class="{ active: m.id == selecionado }"
								:href="m.link" :title="m.nome" >
								<span class="menu-icon menux">
									<span class="svg-icon svg-icon-2x">
										<img class="filter-green" class="menu"
											:src="'../painel-geral/assets/icon/'+m.icon">
									</span>

								</span>
							</a>
						</div>
						<div class="menu-item py-3">
							<a type="button" @click="logout" class="menu-link " title="Sair">
								<span class="menu-icon menux">
									<img class="filter-green" class="menu" src="../painel/assets/icon/logout.svg">
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>