<svg style="width: 60%; margin: 0 auto; " viewBox="0 0 141.287 88.635" xmlns="http://www.w3.org/2000/svg">
    <rect width="141.18" height="88.629" x=".054" y=".003" ry="4.572" fill="#0094e8"
        paint-order="stroke markers fill" />
    <text style="line-height:1.25;-inkscape-font-specification:'Segoe UI'" x="12.994" y="51.352" font-weight="400"
        font-size="10.48" font-family="Segoe UI" letter-spacing="0" word-spacing="0" fill="#f9f9f9"
        stroke-width="1.965">
        <tspan style="-inkscape-font-specification:monospace" x="12.994" y="51.352" font-family="monospace">
            {{ card_numero|| '0000 0000 0000 0000'}}
        </tspan>
    </text>
    <text style="line-height:1.25;-inkscape-font-specification:'Segoe UI'" x="13.547" y="79.959" font-weight="400"
        font-size="5.859" font-family="Segoe UI" letter-spacing="0" word-spacing="0" fill="#f9f9f9"
        stroke-width="1.099">
        <tspan style="-inkscape-font-specification:monospace" x="13.547" y="79.959" font-family="monospace">
            {{ card_nome|| 'NOME COMPLETO'}}</tspan>
    </text>
    <path
        d="M17.606 21.77c-.813 0-1.552.305-2.108.81h5.23l-.81-.81zm3.12 0l3.307 3.306 3.306-3.307zm7.422 0l-.824.824h5.227a3.127 3.127 0 00-2.124-.825zM15.002 23.15a3.13 3.13 0 00-.534 1.756v1.078h6.323v.122h.116v6.539h-.125v.144h-6.314v1.2c0 .566.15 1.096.41 1.554h6.307l2.562-2.561v-7.386L21.3 23.151zm11.75.014L24.319 25.6v7.383l2.449 2.448h6.448c.223-.431.349-.92.349-1.441v-1.17H27.33V25.82h6.235v-.914a3.13 3.13 0 00-.525-1.742zm1.15 3.228v2.612h5.663v-2.612zm-13.434.163v2.449h5.867v-2.449zm0 3.021v2.641h5.867v-2.64zm13.434 0v2.67h5.663v-2.67zm-3.869 3.929l-3.622 3.622h7.245zm3.306 2.497l1.125 1.124h1.963c.97 0 1.836-.436 2.41-1.124zm-12.044.113a3.128 3.128 0 002.311 1.011h1.995l1.012-1.011z"
        fill="#efcd33" paint-order="stroke markers fill" />
    <text style="line-height:1.25;-inkscape-font-specification:'Segoe UI'" x="14.542" y="61.097" font-weight="400"
        font-size="3.316" font-family="Segoe UI" letter-spacing="0" word-spacing="0" fill="#f9f9f9" stroke-width=".622">
        <tspan style="-inkscape-font-specification:monospace" x="14.542" y="61.097" font-family="monospace">
            VALIDADE</tspan>
    </text>
    <text style="line-height:1.25;-inkscape-font-specification:'Segoe UI'" x="14.101" y="67.018" font-weight="400"
        font-size="5.859" font-family="Segoe UI" letter-spacing="0" word-spacing="0" fill="#f9f9f9"
        stroke-width="1.099">
        <tspan style="-inkscape-font-specification:monospace" x="14.101" y="67.018" font-family="monospace">
            {{ card_validade || '02/2027'}}</tspan>
    </text>

    <text style="line-height:1.25;-inkscape-font-specification:'Segoe UI'" x="124.871" y="61.097" font-weight="400"
        font-size="3.316" font-family="Segoe UI" letter-spacing="0" word-spacing="0" fill="#f9f9f9" stroke-width=".622">
        <tspan style="-inkscape-font-specification:monospace" x="124.871" y="61.097" font-family="monospace">
            CVV</tspan>
    </text>
    <text style="line-height:1.25;-inkscape-font-specification:'Segoe UI'" x="120.401" y="67.018" font-weight="400"
        font-size="5.859" font-family="Segoe UI" letter-spacing="0" word-spacing="0" fill="#f9f9f9"
        stroke-width="1.099">
        <tspan style="-inkscape-font-specification:monospace" x="120.401" y="67.018" font-family="monospace">
            {{ card_cvv|| '1234'}}</tspan>
    </text>
</svg>