<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <script type="text/javascript">
var cidade = ["322", "23", "78", "54645", "112", "689", "6796", "76",]
console.log(cidade)


function ordenar(a,b) {
    return a > b ? 1:a < b ? -1: 0;
}
function ordenar2(a,b) {
    return a - b
}

cidade.sort(ordenar2);
for (i=0; i < cidade.length; i++) {
  document.write(cidade[i] + "<br/>");
    console.log(cidade[i] + " ")
}


    </script>
</body>
</html>