<!DOCTYPE html>


<html lang="en">
<!--begin::Head-->

<head>
	<base href="../../../">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body" class="header-tablet-and-mobile-fixed aside-enabled">
	<div id="app">
		<div id="chart">
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script>

		new Vue({
			el: '#app',
			data: {

			},

			computed: {


			},

			methods: {

			},

			mounted() {
				var options = {
					chart: {
						type: 'bar'
					},
					series: [{
						name: 'sales',
						data: [30, 40, 45, 50, 49, 60, 70, 91, 125]
					}],
					xaxis: {
						categories: [111, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999]
					}
				}

				var chart = new ApexCharts(document.querySelector("#chart"), options);

				chart.render();
			},

		})
	</script>

</body>


</html>