<!DOCTYPE html>


<html lang="en">
<!--begin::Head-->

<head>
	<base href="../../../">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link href="../../painel/assets/css/vendor/style.bundle.css" rel="stylesheet" type="text/css" /> 
	<link href="../../painel/assets/css/vendor/plugins.bundle.css" rel="stylesheet" type="text/css" /> 
</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body" class="header-tablet-and-mobile-fixed aside-enabled">
	<div id="app">
   <!--begin::Page-->
   <div class="page d-flex flex-row flex-column-fluid">

	<!--begin::Wrapper-->
	<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">

		<!--begin::Content-->
		<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
			<!--begin::Post-->
			<div class="post d-flex flex-column-fluid" id="kt_post">
				<!--begin::Container-->
				<div id="kt_content_container" class="container-xxl">
					<!--begin::Row-->
					<div class="row g-5 g-xl-8">
						<div class="col-xl-6">
							<!--begin::Charts Widget 1-->
							<div class="card card-xl-stretch mb-xl-8">
								<!--begin::Header-->
								<div class="card-header border-0 pt-5">
									<!--begin::Title-->
									<h3 class="card-title align-items-start flex-column">
										<span class="card-label fw-bolder fs-3 mb-1">Recent Statistics</span>
										<span class="text-muted fw-bold fs-7">More than 400 new members</span>
									</h3>
									<!--end::Title-->
									<!--begin::Toolbar-->
									<div class="card-toolbar">
										<!--begin::Menu-->
										<button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
												<!--begin::Svg Icon | path: icons/duotune/general/gen024.svg-->
												<span class="svg-icon svg-icon-2">
													<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
															<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
															<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
															<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
														</g>
													</svg>
												</span>
												<!--end::Svg Icon-->
											</button>

									</div>
									<!--end::Toolbar-->
								</div>
								<!--end::Header-->
								<!--begin::Body-->
								<div class="card-body">
									<!--begin::Chart-->
									<div id="kt_charts_widget_1_chart" style="height: 350px"></div>
									<!--end::Chart-->
								</div>
								<!--end::Body-->
							</div>
							<!--end::Charts Widget 1-->
						</div>
						<div class="col-xl-6">
							<!--begin::Charts Widget 2-->
							<div class="card card-xl-stretch mb-5 mb-xl-8">
								<!--begin::Header-->
								<div class="card-header border-0 pt-5">
									<h3 class="card-title align-items-start flex-column">
										<span class="card-label fw-bolder fs-3 mb-1">Recent Orders</span>
										<span class="text-muted fw-bold fs-7">More than 500 new orders</span>
									</h3>
									<!--begin::Toolbar-->
									<div class="card-toolbar" data-kt-buttons="true">
										<a class="btn btn-sm btn-color-muted btn-active btn-active-primary active px-4 me-1" id="kt_charts_widget_2_year_btn">Year</a>
										<a class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 me-1" id="kt_charts_widget_2_month_btn">Month</a>
										<a class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4" id="kt_charts_widget_2_week_btn">Week</a>
									</div>
									<!--end::Toolbar-->
								</div>
								<!--end::Header-->
								<!--begin::Body-->
								<div class="card-body">
									<!--begin::Chart-->
									<div id="kt_charts_widget_2_chart" style="height: 350px"></div>
									<!--end::Chart-->
								</div>
								<!--end::Body-->
							</div>
							<!--end::Charts Widget 2-->
						</div>
					</div>

				</div>
				<!--end::Container-->
			</div>
			<!--end::Post-->
		</div>

	</div>
	<!--end::Wrapper-->
</div>
<!--end::Page-->
	</div>

	<script src="../../painel/assets/css/vendor/widgets.js"></script>
	<script src="../../painel/assets/css/vendor/plugins.bundle.js"></script>
	<script src="../../painel/assets/css/vendor/scripts.bundle.js"></script>

 
	<script>

		new Vue({
			el: '#app',
			data: {
				selected: '',
				planos_id: '',
				planos_nome: '',
				planos_desc: '',
				key: "",
				lista: [],
				produtos: [
					{ id: '1', jms: '1', descricao: "Smartphone", categoria: "Eletrônico" },
					{ id: '2', jms: '2', descricao: "Notebook", categoria: "Eletrônico" },
					{ id: '3', jms: '1', descricao: "Geladeira", categoria: "Eletrodoméstico" },
					{ id: '4', jms: '2', descricao: "Liquidificador", categoria: "Eletrodoméstico" },
					{ id: '5', jms: '1', descricao: "Fogão", categoria: "Eletrodoméstico" }
				]
			},

			computed: {
				filtrar() {
					let valores = []
					valores = this.produtos.filter((item) => {
						if (this.selected == null) {
							return item
						}
						return item.id === this.selected;
					})
					return valores
				}
			,	 
			},

			methods: {

			 

			},

			mounted() {
				
			},

		})
	</script>

</body>
<!--end::Body-->

</html>