<!DOCTYPE html>

<html lang="en">

<head>

	<title>Step by step</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link href="../../painel/assets/css/vendor/style.bundle.css" rel="stylesheet" type="text/css" />
	<link href="../../../css/vendor/style.bundle.css" rel="stylesheet" type="text/css" />
</head>


<body class="header-tablet-and-mobile-fixed aside-enabled">


	<div id="app">
		<canvas id="meucanvas" width="200" height="100" style="border:1px solid #d3d3d3;">
			Seu navegador não suporta CANVAS</canvas>
			<hr>
			<a id="arquivo" download="nome_do_arquivo.extensão" @click="salvarImagem('exemplo.png')">FAÇA O DOWNLOAD AQUI</a>
			
	</div>

 

	<!-- <script src="../../../static/js/api/cep.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	
	<script>
 
 var App = new Vue({
  el: '#app',
  data() {
    return {
		showInside: false
           }
  		},

  methods:{
	 	 salvarImagem(a){
		   var meucanvas = document.getElementById('meucanvas');
		   var arquivo = document.getElementById('arquivo');
		   /*Comentário: a variavel "a" será o nome do arquivo, use aspas para chamar a função */
		   arquivo.download = a;
		   arquivo.href = meucanvas.toDataURL();
		}

  		},

  
 
})
	</script>
</body>


</html>