<!DOCTYPE html>

<html lang="en">

<head>

	<title>Step by step</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link href="../../painel/assets/css/vendor/style.bundle.css" rel="stylesheet" type="text/css" />
	<link href="../../../css/vendor/style.bundle.css" rel="stylesheet" type="text/css" />
</head>


<body class="header-tablet-and-mobile-fixed aside-enabled">


	<div id="app">
		<div class="modal-wrapper" @click="toggle">
			<div class="cont-icom-seting">
			  <i @click.stop="toggle" class="fas fa-cog"></i>
		
			  <div v-show="isOpen">
				<!--       Adcionado stop aqui ⬇️ -->
				<div class="menuSusoenco" @click.stop>
				  <div class="contItensMenuSuspenco">
					<div class="menuSusoenco-item">conteudo</div>
					<div class="menuSusoenco-item">conteudo</div>
					<div class="menuSusoenco-item">conteudo</div>
					<hr />
					<div class="menuSusoenco-item">Logout</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
	</div>

	<!-- <script src="../../../static/js/api/cep.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
 
 var App = new Vue({
  el: '#app',
  data() {
    return {
		showInside: false
           }
  		},

  methods:{


  		},

  created(){
    window.body.addEventListener("click", this.toggle)
  },
  destroy(){
    window.body.removeEventListener("click", this.toggle)
  }
 
})
	</script>
</body>


</html>