<!DOCTYPE html>

<html lang="en">

<head>

	<title>Step by step</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>


<body id="kt_body" class="header-tablet-and-mobile-fixed aside-enabled">
	<div class="container" id="app">
		<div id="editor"> 
			<ul>
			 
			</ul>
			<hr />
			<div>
			  <i>Somatória:</i> <b>{{total}}</b>
			</div>
		</div>
	</div>


	<!-- <script src="../../../static/js/api/cep.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: { 
				items: [
					{ width: '100' },
					{ width: '200' },
					{ width: '150' },
					{ width: '111' },
				]
			},
			methods: {
			 
			},
			computed: {
				total() {
					return this.items.reduce((a, b) => {
						return a + b.width;
					}, 0);
				}
			}
		})
	</script>
</body>


</html>