<!DOCTYPE html>

<html lang="en">

<head>

	<title>Step by step</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
</head>


<body id="kt_body" class="header-tablet-and-mobile-fixed aside-enabled">

	<div class="container" id="app">
		<div id="app">
			<label>
			  Type time here:
			  <input type="text"v-model="inputVal"  v-mask="'##:##'" placeholder="23:45">
			</label>
		  </div>
		  
	</div>


	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		// Use as plugin
Vue.use(VueMask.VueMaskPlugin);

		new Vue({
			el: '#app',
			data: {
				// mask: '##:##',
    // placeholder: '23:45',
    inputVal: '',
			},
			methods: {
			
			},

			mounted() {
			 
			},
		})
	</script>
</body>


</html>