<?php

return [

    "host" => "",
    "banco" => "",
    "user" => "",
    "senha" => "",

    "base" => "",
    
    "email_host" => "",
    "email_protocolo" => "TLS",
    "email_port" => "465",
    "email_user" => "",
    "email_pass" => "",

    "evendas" => "",
    
    "api_key" => "",
    "split" => "",
    "split_porcentagem" => 4,
    "sandbox" => false
];